---
http_interactions:
- request:
    method: post
    uri: https://api.petfinder.com/v2/oauth2/token
    body:
      encoding: UTF-8
      string: client_id=<CLIENT_ID>&client_secret=<CLIENT_SECRET>&grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Amzn-Requestid:
      - 5bbc20d6-47e7-4e83-894d-1c49026f4d00
      X-Amzn-Remapped-Connection:
      - keep-alive
      X-Amz-Apigw-Id:
      - GyylrE1-oAMFSbQ=
      X-Amzn-Remapped-Date:
      - Wed, 06 Oct 2021 16:12:33 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"token_type":"Bearer","expires_in":3599,"access_token":"eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJhdWQiOiI2clFzcHIzTng1NjloM1hrR3V4aUJobFNlRUFCUkxxSFVNeEc5bmdaQ2hLTzQ1SFcwYSIsImp0aSI6IjI2ZjMzMjFhYTkwNDYxZjg1ODExMzEwOTg0MzI5OGE4ZTBlMWFmZjJiZDlhZWE1Yjg4OWUzZjNhZjFkMDIzNmMxMGU1MTczOTY1NGVlN2JkIiwiaWF0IjoxNjMzNTM2NzUzLCJuYmYiOjE2MzM1MzY3NTMsImV4cCI6MTYzMzU0MDM1Miwic3ViIjoiIiwic2NvcGVzIjpbXX0.X-12egBefL5d22Zzw_Pi2Fbi23cpkgS10YiCSIz6dmqwYxe4G7a8Dsu7uEGQWPqfwacv1qBnYY5K-BcaKos3Bp4JajLTvUqHBla_rd_9X-shjNqVhMmkIC24WyaLVNGIJ58CsXBDTYBIm3k-JTqycvOzr3PzjSrc7d1ev9cHI6rbA1ykSS2DqooFMxQyhNJJ_lz2vbYAIQ6sok7wMH0YwjUAFOUDQ5wB7rxCeHQIrRi1sPsFC3ug8GARVen4K8JELQjP07_xsYogHOf2uUW3ErqHmw5q-jQPnJnOAauYd0IPaIFW3IyISAVf__cRefyiQCM6RJxpO_WS5tw_P8NK0Q"}'
  recorded_at: Wed, 06 Oct 2021 16:12:32 GMT
- request:
    method: get
    uri: https://api.petfinder.com/v2/animals?age=adult,senior
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJhdWQiOiI2clFzcHIzTng1NjloM1hrR3V4aUJobFNlRUFCUkxxSFVNeEc5bmdaQ2hLTzQ1SFcwYSIsImp0aSI6IjI2ZjMzMjFhYTkwNDYxZjg1ODExMzEwOTg0MzI5OGE4ZTBlMWFmZjJiZDlhZWE1Yjg4OWUzZjNhZjFkMDIzNmMxMGU1MTczOTY1NGVlN2JkIiwiaWF0IjoxNjMzNTM2NzUzLCJuYmYiOjE2MzM1MzY3NTMsImV4cCI6MTYzMzU0MDM1Miwic3ViIjoiIiwic2NvcGVzIjpbXX0.X-12egBefL5d22Zzw_Pi2Fbi23cpkgS10YiCSIz6dmqwYxe4G7a8Dsu7uEGQWPqfwacv1qBnYY5K-BcaKos3Bp4JajLTvUqHBla_rd_9X-shjNqVhMmkIC24WyaLVNGIJ58CsXBDTYBIm3k-JTqycvOzr3PzjSrc7d1ev9cHI6rbA1ykSS2DqooFMxQyhNJJ_lz2vbYAIQ6sok7wMH0YwjUAFOUDQ5wB7rxCeHQIrRi1sPsFC3ug8GARVen4K8JELQjP07_xsYogHOf2uUW3ErqHmw5q-jQPnJnOAauYd0IPaIFW3IyISAVf__cRefyiQCM6RJxpO_WS5tw_P8NK0Q
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - 42ac8851-a0b3-40e0-b889-578d30820bbb
      X-Amzn-Remapped-Connection:
      - keep-alive
      X-Amz-Apigw-Id:
      - GyyltEWEIAMFqoA=
      X-Amzn-Remapped-Date:
      - Wed, 06 Oct 2021 16:12:33 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"animals":[{"id":53186191,"organization_id":"NC495","url":"https:\/\/www.petfinder.com\/barnyard\/peter-and-poppy-53186191\/nc\/stokesdale\/red-dog-farm-animal-rescue-network-nc495\/?referrer_id=60ac3753-b0b6-4ee4-a1f2-d28369ed697f","type":"Barnyard","species":"Goat","breeds":{"primary":"Pygmy","secondary":null,"mixed":false,"unknown":false},"colors":{"primary":null,"secondary":null,"tertiary":null},"age":"Adult","gender":"Male","size":"Small","coat":null,"attributes":{"spayed_neutered":false,"house_trained":false,"declawed":null,"special_needs":false,"shots_current":false},"environment":{"children":null,"dogs":null,"cats":null},"tags":[],"name":"Peter
        and Poppy","description":"Peter and Poppy are two loving Pygmy goats who came
        to us when animal control found them. They are a...","organization_animal_id":"
        RDFA-A-1144","photos":[{"small":"https:\/\/dl5zpyw5k3jeb.cloudfront.net\/photos\/pets\/53186191\/1\/?bust=1633536732\u0026width=100","medium":"https:\/\/dl5zpyw5k3jeb.cloudfront.net\/photos\/pets\/53186191\/1\/?bust=1633536732\u0026width=300","large":"https:\/\/dl5zpyw5k3jeb.cloudfront.net\/photos\/pets\/53186191\/1\/?bust=1633536732\u0026width=600","full":"https:\/\/dl5zpyw5k3jeb.cloudfront.net\/photos\/pets\/53186191\/1\/?bust=1633536732"},{"small":"https:\/\/dl5zpyw5k3jeb.cloudfront.net\/photos\/pets\/53186191\/2\/?bust=1633536733\u0026width=100","medium":"https:\/\/dl5zpyw5k3jeb.cloudfront.net\/photos\/pets\/53186191\/2\/?bust=1633536733\u0026width=300","large":"https:\/\/dl5zpyw5k3jeb.cloudfront.net\/photos\/pets\/53186191\/2\/?bust=1633536733\u0026width=600","full":"https:\/\/dl5zpyw5k3jeb.cloudfront.net\/photos\/pets\/53186191\/2\/?bust=1633536733"}],"primary_photo_cropped":{"small":"https:\/\/dl5zpyw5k3jeb.cloudfront.net\/photos\/pets\/53186191\/1\/?bust=1633536732\u0026width=300","medium":"https:\/\/dl5zpyw5k3jeb.cloudfront.net\/photos\/pets\/53186191\/1\/?bust=1633536732\u0026width=450","large":"https:\/\/dl5zpyw5k3jeb.cloudfront.net\/photos\/pets\/53186191\/1\/?bust=1633536732\u0026width=600","full":"https:\/\/dl5zpyw5k3jeb.cloudfront.net\/photos\/pets\/53186191\/1\/?bust=1633536732"},"videos":[],"status":"adoptable","status_changed_at":"2021-10-06T16:12:14+0000","published_at":"2021-10-06T16:12:14+0000","distance":null,"contact":{"email":"reddogfarm@triad.rr.com","phone":"(336)
        288-7006","address":{"address1":null,"address2":null,"city":"Stokesdale","state":"NC","postcode":"27357","country":"US"}},"_links":{"self":{"href":"\/v2\/animals\/53186191"},"type":{"href":"\/v2\/types\/barnyard"},"organization":{"href":"\/v2\/organizations\/nc495"}}},{"id":53186190,"organization_id":"NM198","url":"https:\/\/www.petfinder.com\/cat\/tabi-53186190\/nm\/las-cruces\/cats-meow-adoption-center-nm198\/?referrer_id=60ac3753-b0b6-4ee4-a1f2-d28369ed697f","type":"Cat","species":"Cat","breeds":{"primary":"Tabby","secondary":"Domestic
        Short Hair","mixed":true,"unknown":false},"colors":{"primary":"Tabby (Brown
        \/ Chocolate)","secondary":null,"tertiary":null},"age":"Adult","gender":"Female","size":"Med[...]
