---
http_interactions:
- request:
    method: post
    uri: https://api.petfinder.com/v2/oauth2/token
    body:
      encoding: UTF-8
      string: client_id=<CLIENT_ID>&client_secret=<CLIENT_SECRET>&grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Amzn-Requestid:
      - e619a797-e2a8-443a-8516-0259b8b72add
      X-Amzn-Remapped-Connection:
      - keep-alive
      X-Amz-Apigw-Id:
      - Gyyj_EYxIAMFW2Q=
      X-Amzn-Remapped-Date:
      - Wed, 06 Oct 2021 16:12:22 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"token_type":"Bearer","expires_in":3600,"access_token":"eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJhdWQiOiI2clFzcHIzTng1NjloM1hrR3V4aUJobFNlRUFCUkxxSFVNeEc5bmdaQ2hLTzQ1SFcwYSIsImp0aSI6ImE5ZDU4ZWYyYTcxYTZmMjdkM2U5YzA3ZTgwZDI0ZjA2M2ZhOGY0ZDJjZGFiOGNmZGJjYTMxOWE1MzE3MTU1NWRhYzcwNjM3NjkxOGU4YWMzIiwiaWF0IjoxNjMzNTM2NzQyLCJuYmYiOjE2MzM1MzY3NDIsImV4cCI6MTYzMzU0MDM0Miwic3ViIjoiIiwic2NvcGVzIjpbXX0.hgx8diuQfYDHs7pJ5VEFw6rFOpLDeHT_QMFM_EgtkTOvfw9evlfuht-rPsPGR87P_37zqWYrOTZQrWlcBwpsNfBGyVz-HHjuA51dKYurYk1RjNfyhkO1cREINrcXAe2Jr5yHSlS1UcGpOudG5LPO1MIZ8b6szrDUR8zttj2fb6ucMkH6F7IghKcFofg7GrUcI_DkO8QchDn2xwv_UI2GvtGOr-XW31cMPb4V6AFSbpZcqzSaRJoifTPH7Ud7hM7Ii-akUu1ctCi1sNW4pwmwaVXEC8R2Mcf0W2qe4CHeHJ-67S0jK5jUSUdoame9CYSAX6AtrNOicLLGyPac6jTkkw"}'
  recorded_at: Wed, 06 Oct 2021 16:12:21 GMT
- request:
    method: get
    uri: https://api.petfinder.com/v2/animals?type=bird
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJhdWQiOiI2clFzcHIzTng1NjloM1hrR3V4aUJobFNlRUFCUkxxSFVNeEc5bmdaQ2hLTzQ1SFcwYSIsImp0aSI6ImE5ZDU4ZWYyYTcxYTZmMjdkM2U5YzA3ZTgwZDI0ZjA2M2ZhOGY0ZDJjZGFiOGNmZGJjYTMxOWE1MzE3MTU1NWRhYzcwNjM3NjkxOGU4YWMzIiwiaWF0IjoxNjMzNTM2NzQyLCJuYmYiOjE2MzM1MzY3NDIsImV4cCI6MTYzMzU0MDM0Miwic3ViIjoiIiwic2NvcGVzIjpbXX0.hgx8diuQfYDHs7pJ5VEFw6rFOpLDeHT_QMFM_EgtkTOvfw9evlfuht-rPsPGR87P_37zqWYrOTZQrWlcBwpsNfBGyVz-HHjuA51dKYurYk1RjNfyhkO1cREINrcXAe2Jr5yHSlS1UcGpOudG5LPO1MIZ8b6szrDUR8zttj2fb6ucMkH6F7IghKcFofg7GrUcI_DkO8QchDn2xwv_UI2GvtGOr-XW31cMPb4V6AFSbpZcqzSaRJoifTPH7Ud7hM7Ii-akUu1ctCi1sNW4pwmwaVXEC8R2Mcf0W2qe4CHeHJ-67S0jK5jUSUdoame9CYSAX6AtrNOicLLGyPac6jTkkw
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - 9c87b039-fc33-4d89-b6b8-a230b225bd6c
      X-Amzn-Remapped-Connection:
      - keep-alive
      X-Amz-Apigw-Id:
      - GyykDE7ZIAMFdPw=
      X-Amzn-Remapped-Date:
      - Wed, 06 Oct 2021 16:12:22 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"animals":[{"id":53186017,"organization_id":"NC377","url":"https:\/\/www.petfinder.com\/bird\/welsh-harlequin-53186017\/nc\/indian-trail\/carolina-waterfowl-rescue-nc377\/?referrer_id=60ac3753-b0b6-4ee4-a1f2-d28369ed697f","type":"Bird","species":"Duck","breeds":{"primary":"Duck","secondary":null,"mixed":false,"unknown":false},"colors":{"primary":"Brown","secondary":"Buff","tertiary":"White"},"age":"Adult","gender":"Unknown","size":"Medium","coat":null,"attributes":{"spayed_neutered":false,"house_trained":false,"declawed":null,"special_needs":false,"shots_current":false},"environment":{"children":null,"dogs":null,"cats":null},"tags":[],"name":"Welsh
        Harlequin","description":"We have various Welsh Harlequin ducks, both male
        and female needing a forever home.","organization_animal_id":null,"photos":[{"small":"https:\/\/dl5zpyw5k3jeb.cloudfront.net\/photos\/pets\/53186017\/1\/?bust=1633532924\u0026width=100","medium":"https:\/\/dl5zpyw5k3jeb.cloudfront.net\/photos\/pets\/53186017\/1\/?bust=1633532924\u0026width=300","large":"https:\/\/dl5zpyw5k3jeb.cloudfront.net\/photos\/pets\/53186017\/1\/?bust=1633532924\u0026width=600","full":"https:\/\/dl5zpyw5k3jeb.cloudfront.net\/photos\/pets\/53186017\/1\/?bust=1633532924"}],"primary_photo_cropped":{"small":"https:\/\/dl5zpyw5k3jeb.cloudfront.net\/photos\/pets\/53186017\/1\/?bust=1633532924\u0026width=300","medium":"https:\/\/dl5zpyw5k3jeb.cloudfront.net\/photos\/pets\/53186017\/1\/?bust=1633532924\u0026width=450","large":"https:\/\/dl5zpyw5k3jeb.cloudfront.net\/photos\/pets\/53186017\/1\/?bust=1633532924\u0026width=600","full":"https:\/\/dl5zpyw5k3jeb.cloudfront.net\/photos\/pets\/53186017\/1\/?bust=1633532924"},"videos":[],"status":"adoptable","status_changed_at":"2021-10-06T15:08:45+0000","published_at":"2021-10-06T15:08:45+0000","distance":null,"contact":{"email":"adopt@cwrescue.org","phone":"704-668-9486
        ","address":{"address1":"PO Box 1484","address2":null,"city":"Indian Trail","state":"NC","postcode":"28079","country":"US"}},"_links":{"self":{"href":"\/v2\/animals\/53186017"},"type":{"href":"\/v2\/types\/bird"},"organization":{"href":"\/v2\/organizations\/nc377"}}},{"id":53186012,"organization_id":"NC377","url":"https:\/\/www.petfinder.com\/bird\/saxony-53186012\/nc\/indian-trail\/carolina-waterfowl-rescue-nc377\/?referrer_id=60ac3753-b0b6-4ee4-a1f2-d28369ed697f","type":"Bird","species":"Duck","breeds":{"primary":"Duck","secondary":null,"mixed":false,"unknown":false},"colors":{"primary":"Brown","secondary":"Buff","tertiary":"White"},"age":"Adult","gender":"Unknown","size":"Medium","coat":null,"attributes":{"spayed_ne[...]
