---
http_interactions:
- request:
    method: post
    uri: https://api.petfinder.com/v2/oauth2/token
    body:
      encoding: UTF-8
      string: client_id=<CLIENT_ID>&client_secret=<CLIENT_SECRET>&grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Amzn-Requestid:
      - bb592d86-aea0-403b-9073-60fb04c43862
      X-Amzn-Remapped-Connection:
      - keep-alive
      X-Amz-Apigw-Id:
      - GyykKEhmIAMFeag=
      X-Amzn-Remapped-Date:
      - Wed, 06 Oct 2021 16:12:23 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"token_type":"Bearer","expires_in":3600,"access_token":"eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJhdWQiOiI2clFzcHIzTng1NjloM1hrR3V4aUJobFNlRUFCUkxxSFVNeEc5bmdaQ2hLTzQ1SFcwYSIsImp0aSI6ImFiNTI1M2E0NDdkYmVjOWNiZThhYTFiNDJhN2YxZjVlMzQ5YjZkYmNhZWZjZjQ1OWRiNDUzMWYzNTQzMWRkMTczM2ZkODVjMzJhNjBhOTQ1IiwiaWF0IjoxNjMzNTM2NzQzLCJuYmYiOjE2MzM1MzY3NDMsImV4cCI6MTYzMzU0MDM0Mywic3ViIjoiIiwic2NvcGVzIjpbXX0.wJNEe1givcLGloDMYIziRag7NdXtzjqYdlJkE2DcJI_APFyhT6LH2oLlfkP4HBBRkKg6cSh900XT4xhUzOZRzAUDfFWA780UtwD7clABIn2eHHzgWGIY8bF3dtDlvAP255fb2rLnAswUjE_hfUYtc0Zt-Bj21AOdFWhO8LgaV8Q5PXdvEOlUb1KfLIFHVCZrkCZKA4kXv-jfaiGNeWxULP3NBkjVppzcbIP99_EKJ2aYhHoc-FAewoYAOxaTm4kSuBSV3Xh_XFLbvO-0SOgt9b8NsVQG34Irhfoo6YD9W6ykx18qTSAo2dKlYQeSYubN1ryMZ7GbnrMq49tC4bZwKQ"}'
  recorded_at: Wed, 06 Oct 2021 16:12:22 GMT
- request:
    method: get
    uri: https://api.petfinder.com/v2/animals?type=dog
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJhdWQiOiI2clFzcHIzTng1NjloM1hrR3V4aUJobFNlRUFCUkxxSFVNeEc5bmdaQ2hLTzQ1SFcwYSIsImp0aSI6ImFiNTI1M2E0NDdkYmVjOWNiZThhYTFiNDJhN2YxZjVlMzQ5YjZkYmNhZWZjZjQ1OWRiNDUzMWYzNTQzMWRkMTczM2ZkODVjMzJhNjBhOTQ1IiwiaWF0IjoxNjMzNTM2NzQzLCJuYmYiOjE2MzM1MzY3NDMsImV4cCI6MTYzMzU0MDM0Mywic3ViIjoiIiwic2NvcGVzIjpbXX0.wJNEe1givcLGloDMYIziRag7NdXtzjqYdlJkE2DcJI_APFyhT6LH2oLlfkP4HBBRkKg6cSh900XT4xhUzOZRzAUDfFWA780UtwD7clABIn2eHHzgWGIY8bF3dtDlvAP255fb2rLnAswUjE_hfUYtc0Zt-Bj21AOdFWhO8LgaV8Q5PXdvEOlUb1KfLIFHVCZrkCZKA4kXv-jfaiGNeWxULP3NBkjVppzcbIP99_EKJ2aYhHoc-FAewoYAOxaTm4kSuBSV3Xh_XFLbvO-0SOgt9b8NsVQG34Irhfoo6YD9W6ykx18qTSAo2dKlYQeSYubN1ryMZ7GbnrMq49tC4bZwKQ
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - a38470cc-7b56-43f9-9dad-e9d1d5114d8b
      X-Amzn-Remapped-Connection:
      - keep-alive
      X-Amz-Apigw-Id:
      - GyykOHPGoAMFh8w=
      X-Amzn-Remapped-Date:
      - Wed, 06 Oct 2021 16:12:24 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"animals":[{"id":53186192,"organization_id":"MI730","url":"https:\/\/www.petfinder.com\/dog\/baby-liberty-53186192\/mi\/utica\/making-miracles-animal-rescue-aka-sanilac-scoopers-mi730\/?referrer_id=60ac3753-b0b6-4ee4-a1f2-d28369ed697f","type":"Dog","species":"Dog","breeds":{"primary":"Aussiedoodle","secondary":null,"mixed":true,"unknown":false},"colors":{"primary":null,"secondary":null,"tertiary":null},"age":"Baby","gender":"Female","size":"Medium","coat":null,"attributes":{"spayed_neutered":true,"house_trained":true,"declawed":null,"special_needs":false,"shots_current":true},"environment":{"children":null,"dogs":true,"cats":null},"tags":[],"name":"Baby
        Liberty","description":"We are always looking for fosters. If you are curious
        on how you can be one please contact rescueme93@yahoo.com for...","organization_animal_id":null,"photos":[{"small":"https:\/\/dl5zpyw5k3jeb.cloudfront.net\/photos\/pets\/53186192\/1\/?bust=1633536732\u0026width=100","medium":"https:\/\/dl5zpyw5k3jeb.cloudfront.net\/photos\/pets\/53186192\/1\/?bust=1633536732\u0026width=300","large":"https:\/\/dl5zpyw5k3jeb.cloudfront.net\/photos\/pets\/53186192\/1\/?bust=1633536732\u0026width=600","full":"https:\/\/dl5zpyw5k3jeb.cloudfront.net\/photos\/pets\/53186192\/1\/?bust=1633536732"},{"small":"https:\/\/dl5zpyw5k3jeb.cloudfront.net\/photos\/pets\/53186192\/2\/?bust=1633536733\u0026width=100","medium":"https:\/\/dl5zpyw5k3jeb.cloudfront.net\/photos\/pets\/53186192\/2\/?bust=1633536733\u0026width=300","large":"https:\/\/dl5zpyw5k3jeb.cloudfront.net\/photos\/pets\/53186192\/2\/?bust=1633536733\u0026width=600","full":"https:\/\/dl5zpyw5k3jeb.cloudfront.net\/photos\/pets\/53186192\/2\/?bust=1633536733"},{"small":"https:\/\/dl5zpyw5k3jeb.cloudfront.net\/photos\/pets\/53186192\/3\/?bust=1633536734\u0026width=100","medium":"https:\/\/dl5zpyw5k3jeb.cloudfront.net\/photos\/pets\/53186192\/3\/?bust=1633536734\u0026width=300","large":"https:\/\/dl5zpyw5k3jeb.cloudfront.net\/photos\/pets\/53186192\/3\/?bust=1633536734\u0026width=600","full":"https:\/\/dl5zpyw5k3jeb.cloudfront.net\/photos\/pets\/53186192\/3\/?bust=1633536734"}],"primary_photo_cropped":{"small":"https:\/\/dl5zpyw5k3jeb.cloudfront.net\/photos\/pets\/53186192\/1\/?bust=1633536732\u0026width=300","medium":"https:\/\/dl5zpyw5k3jeb.cloudfront.net\/photos\/pets\/53186192\/1\/?bust=1633536732\u0026width=450","large":"https:\/\/dl5zpyw5k3jeb.cloudfront.net\/photos\/pets\/53186192\/1\/?bust=1633536732\u0026width=600","full":"https:\/\/dl5zpyw5k3jeb.cloudfront.net\/photos\/pets\/53186192\/1\/?bust=1633536732"},"videos":[],"status":"adoptable","status_changed_at":"2021-10-06T16:12:15+0000","published_at":"2021-10-06T16:12:15+0000","distance":null,"contact":{"email":"rescueme93@yahoo.com","phone":null,"address":{"address1":"PO
        Box 180155","address2":null,"city":"Utica","state":"MI","postcode":"48318","country":"US"}},"_links":{"self":{"href":"\/v2\/animals\/53186192"},"type":{"href":"\/v2\/types\/dog"},"organization":{"href":"\/v2\/organizations\/mi730"}}},{"id":53186188,"organization_id":"TN787","url":"https:\/\/www.petfinder.com\/dog\/mocha-1-of-40-53186188\/tn\/franklin\/animal-support-and-placement-rescue-tn787\/?referrer_id=60ac3753-b0b6-4ee4-a1f2-d28369ed697f","type":"Dog","species":"Dog","breeds":{"primary":"Labrador
        Retriever","secondary":"Shepherd","mixed":true,"unknown":false},"colors":{"primary":"Black","secondary":"Brown
        \/ Chocolate","tertiary":null},"age":"Baby","gender":"Female[...]
