---
http_interactions:
- request:
    method: post
    uri: https://api.petfinder.com/v2/oauth2/token
    body:
      encoding: UTF-8
      string: client_id=<CLIENT_ID>&client_secret=<CLIENT_SECRET>&grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Amzn-Requestid:
      - 1284682e-b348-4979-807d-1edd2cb54bc3
      X-Amzn-Remapped-Connection:
      - keep-alive
      X-Amz-Apigw-Id:
      - GyylUE8mIAMFzPA=
      X-Amzn-Remapped-Date:
      - Wed, 06 Oct 2021 16:12:30 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"token_type":"Bearer","expires_in":3600,"access_token":"eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJhdWQiOiI2clFzcHIzTng1NjloM1hrR3V4aUJobFNlRUFCUkxxSFVNeEc5bmdaQ2hLTzQ1SFcwYSIsImp0aSI6Ijk0NTY3OGQxZTM5ZjFmZWM3NTY4NjYyODA5YjQ5OTcwZWI4ZGIzNzliNmU2OTMwZTM2MDQ2NTNhMjZjNmNkOWNiMDAwZGNjOTUyMzg1ZTIwIiwiaWF0IjoxNjMzNTM2NzUwLCJuYmYiOjE2MzM1MzY3NTAsImV4cCI6MTYzMzU0MDM1MCwic3ViIjoiIiwic2NvcGVzIjpbXX0.ai65UzQnrKmmwTRtgyWFmdpZek4ro_vmvvwsvGmHsY-KpflofUAKh3OVGmlouoT1JiZ0xfPA4ycf_byWDHE16g3K1COlz0P-HEQnjFTxhH8PmbBHUUh-9mxrHfuo8VPQ-JG6OANy2WTWeuBNl2IZAIGhvptHQZJtQw8eSTRwuJrXKEwh21sgc-chtYqPlEGi1HKF1XOU4JmVWZw_RT_jfRxECjGu4cl9Tc6xl_5jBxy8nv9ceh0zLXbrrkOtpTCjwy99BqmefmkXXIxKTPqFiqqQmdRqG-PJ22p2RKT21hw6PCqtSN3gpyxJKKm8Gw0KbEnfegcs2Wo508iwfOgOVg"}'
  recorded_at: Wed, 06 Oct 2021 16:12:30 GMT
- request:
    method: get
    uri: https://api.petfinder.com/v2/animals?gender=female,male
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJhdWQiOiI2clFzcHIzTng1NjloM1hrR3V4aUJobFNlRUFCUkxxSFVNeEc5bmdaQ2hLTzQ1SFcwYSIsImp0aSI6Ijk0NTY3OGQxZTM5ZjFmZWM3NTY4NjYyODA5YjQ5OTcwZWI4ZGIzNzliNmU2OTMwZTM2MDQ2NTNhMjZjNmNkOWNiMDAwZGNjOTUyMzg1ZTIwIiwiaWF0IjoxNjMzNTM2NzUwLCJuYmYiOjE2MzM1MzY3NTAsImV4cCI6MTYzMzU0MDM1MCwic3ViIjoiIiwic2NvcGVzIjpbXX0.ai65UzQnrKmmwTRtgyWFmdpZek4ro_vmvvwsvGmHsY-KpflofUAKh3OVGmlouoT1JiZ0xfPA4ycf_byWDHE16g3K1COlz0P-HEQnjFTxhH8PmbBHUUh-9mxrHfuo8VPQ-JG6OANy2WTWeuBNl2IZAIGhvptHQZJtQw8eSTRwuJrXKEwh21sgc-chtYqPlEGi1HKF1XOU4JmVWZw_RT_jfRxECjGu4cl9Tc6xl_5jBxy8nv9ceh0zLXbrrkOtpTCjwy99BqmefmkXXIxKTPqFiqqQmdRqG-PJ22p2RKT21hw6PCqtSN3gpyxJKKm8Gw0KbEnfegcs2Wo508iwfOgOVg
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - eb72d44c-38cd-455e-919c-b6f71be4a0aa
      X-Amzn-Remapped-Connection:
      - keep-alive
      X-Amz-Apigw-Id:
      - GyylYGRAoAMF62Q=
      X-Amzn-Remapped-Date:
      - Wed, 06 Oct 2021 16:12:31 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"animals":[{"id":53186194,"organization_id":"NY423","url":"https:\/\/www.petfinder.com\/cat\/wendy-53186194\/ny\/belmont\/spca-serving-allegany-county-ny423\/?referrer_id=60ac3753-b0b6-4ee4-a1f2-d28369ed697f","type":"Cat","species":"Cat","breeds":{"primary":"Domestic
        Short Hair","secondary":null,"mixed":false,"unknown":false},"colors":{"primary":null,"secondary":null,"tertiary":null},"age":"Young","gender":"Female","size":"Small","coat":"Short","attributes":{"spayed_neutered":true,"house_trained":true,"declawed":false,"special_needs":false,"shots_current":true},"environment":{"children":true,"dogs":true,"cats":true},"tags":["Friendly","Affectionate","Gentle","Dignified","Couch
        potato","Quiet"],"name":"Wendy","description":null,"organization_animal_id":null,"photos":[{"small":"https:\/\/dl5zpyw5k3jeb.cloudfront.net\/photos\/pets\/53186194\/1\/?bust=1633536744\u0026width=100","medium":"https:\/\/dl5zpyw5k3jeb.cloudfront.net\/photos\/pets\/53186194\/1\/?bust=1633536744\u0026width=300","large":"https:\/\/dl5zpyw5k3jeb.cloudfront.net\/photos\/pets\/53186194\/1\/?bust=1633536744\u0026width=600","full":"https:\/\/dl5zpyw5k3jeb.cloudfront.net\/photos\/pets\/53186194\/1\/?bust=1633536744"}],"primary_photo_cropped":{"small":"https:\/\/dl5zpyw5k3jeb.cloudfront.net\/photos\/pets\/53186194\/1\/?bust=1633536744\u0026width=300","medium":"https:\/\/dl5zpyw5k3jeb.cloudfront.net\/photos\/pets\/53186194\/1\/?bust=1633536744\u0026width=450","large":"https:\/\/dl5zpyw5k3jeb.cloudfront.net\/photos\/pets\/53186194\/1\/?bust=1633536744\u0026width=600","full":"https:\/\/dl5zpyw5k3jeb.cloudfront.net\/photos\/pets\/53186194\/1\/?bust=1633536744"},"videos":[],"status":"adoptable","status_changed_at":"2021-10-06T16:12:25+0000","published_at":"2021-10-06T16:12:25+0000","distance":null,"contact":{"email":"spcaallegany@gmail.com","phone":"(585)
        593-2200","address":{"address1":"5440 State Route 19","address2":null,"city":"Belmont","state":"NY","postcode":"14813","country":"US"}},"_links":{"self":{"href":"\/v2\/animals\/53186194"},"type":{"href":"\/v2\/types\/cat"},"organization":{"href":"\/v2\/organizations\/ny423"}}},{"id":53186193,"organization_id":"OH175","url":"https:\/\/www.petfinder.com\/dog\/hanna-h6-hold-53186193\/oh\/canton\/stark-county-sheriff-office-dog-warden-division-oh175\/?referrer_id=60ac3753-b0b6-4ee4-a1f2-d28369ed697f","type":"Dog","species":"Dog","breeds":{"primary":"Pit
        Bull Terrier","secondary":null,"mixed":false,"unknown":false},"colors":{"primary":"Brindle","secondary":null,"tertiary":null},"age":"Young","gender":"Female","size":"Medium",[...]
