---
http_interactions:
- request:
    method: post
    uri: https://api.petfinder.com/v2/oauth2/token
    body:
      encoding: UTF-8
      string: client_id=<CLIENT_ID>&client_secret=<CLIENT_SECRET>&grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Amzn-Requestid:
      - 4059da9f-92ee-48f0-85df-2e7119c17372
      X-Amzn-Remapped-Content-Length:
      - '604'
      X-Amzn-Remapped-Connection:
      - keep-alive
      X-Amz-Apigw-Id:
      - bg_dzENXIAMF5AQ=
      X-Amzn-Remapped-Date:
      - Mon, 01 Mar 2021 16:13:50 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"token_type":"Bearer","expires_in":3600,"access_token":"eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJhdWQiOiJ0dG5JTTZ2ZVBicnBxSjhxQkdZMmNvOVpCU2pmcEF3Yjg0Tzc0NWZ4UmQwUG41ZmUzaCIsImp0aSI6IjM0Y2I2NWE1Nzg5OWIxOGQ3ZTMzYzk2MTc1MWJkMjU5Y2UwNTg2YTI0NDMzMjA1Y2I1NjM1OTcwMmQxMjg0M2FkOWRlYTdjYTVjNDllMDA4IiwiaWF0IjoxNjE0NjE1MjMwLCJuYmYiOjE2MTQ2MTUyMzAsImV4cCI6MTYxNDYxODgzMCwic3ViIjoiIiwic2NvcGVzIjpbXX0.wV-FiJC6B8xuUVWm4X0czokgAKZ_7YScoMRExdOnkBbCq9uCExcokHh-MOwulXB8C5hyR_yXEP12vBjEnv2yPfE6RBOsd8pW6RNFo7f0ZzOSwYe8gO4PEO0hDp-omaM8EsHRHyyD41wJrsGRH98gvRgKBDF8A5N0CGwWOdJa8_Mr9zSP0yhZO17bi5CFG2G7D1h-tSsYYh0VUKIe7R2aGmtZJjpuo-1OT1OMgRwW1GY-Db8oiES5N-MhGOdMg0-SVbvaCPcw4AlXVIk69hIBxEshmVJaSZx19hPX2rz4MLOuQtISVZxRVmQh2EFb6MdwXxkf7v0RZqFq07FBmSIG5g"}'
  recorded_at: Mon, 01 Mar 2021 16:13:47 GMT
- request:
    method: get
    uri: https://api.petfinder.com/v2/animals?gender=female
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJhdWQiOiJ0dG5JTTZ2ZVBicnBxSjhxQkdZMmNvOVpCU2pmcEF3Yjg0Tzc0NWZ4UmQwUG41ZmUzaCIsImp0aSI6IjM0Y2I2NWE1Nzg5OWIxOGQ3ZTMzYzk2MTc1MWJkMjU5Y2UwNTg2YTI0NDMzMjA1Y2I1NjM1OTcwMmQxMjg0M2FkOWRlYTdjYTVjNDllMDA4IiwiaWF0IjoxNjE0NjE1MjMwLCJuYmYiOjE2MTQ2MTUyMzAsImV4cCI6MTYxNDYxODgzMCwic3ViIjoiIiwic2NvcGVzIjpbXX0.wV-FiJC6B8xuUVWm4X0czokgAKZ_7YScoMRExdOnkBbCq9uCExcokHh-MOwulXB8C5hyR_yXEP12vBjEnv2yPfE6RBOsd8pW6RNFo7f0ZzOSwYe8gO4PEO0hDp-omaM8EsHRHyyD41wJrsGRH98gvRgKBDF8A5N0CGwWOdJa8_Mr9zSP0yhZO17bi5CFG2G7D1h-tSsYYh0VUKIe7R2aGmtZJjpuo-1OT1OMgRwW1GY-Db8oiES5N-MhGOdMg0-SVbvaCPcw4AlXVIk69hIBxEshmVJaSZx19hPX2rz4MLOuQtISVZxRVmQh2EFb6MdwXxkf7v0RZqFq07FBmSIG5g
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - 819e977d-62ab-4844-8cc5-405d03a59ceb
      X-Amzn-Remapped-Content-Length:
      - '3837'
      X-Amzn-Remapped-Connection:
      - keep-alive
      X-Amz-Apigw-Id:
      - bg_d2E05oAMFvng=
      X-Amzn-Remapped-Date:
      - Mon, 01 Mar 2021 16:13:51 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"animals":[{"id":50697090,"organization_id":"FL1026","url":"https:\/\/www.petfinder.com\/dog\/ruby-50697090\/fl\/tavares\/a-forever-home-animal-rescue-inc-fl1026\/?referrer_id=7a08eea9-3a78-4961-9dee-b60fab4c2090","type":"Dog","species":"Dog","breeds":{"primary":"Chihuahua","secondary":null,"mixed":true,"unknown":false},"colors":{"primary":"Black","secondary":"Brown
        \/ Chocolate","tertiary":null},"age":"Senior","gender":"Female","size":"Small","coat":"Short","attributes":{"spayed_neutered":true,"house_trained":true,"declawed":null,"special_needs":false,"shots_current":true},"environment":{"children":true,"dogs":true,"cats":null},"tags":[],"name":"Ruby","description":"Ruby
        is a 14 year old chihuahua mix weighing 14 pounds. Ruby is more shy and laid
        back. She came...","organization_animal_id":null,"photos":[{"small":"https:\/\/dl5zpyw5k3jeb.cloudfront.net\/photos\/pets\/50697090\/2\/?bust=1614615180\u0026width=100","medium":"https:\/\/dl5zpyw5k3jeb.cloudfront.net\/photos\/pets\/50697090\/2\/?bust=1614615180\u0026width=300","large":"https:\/\/dl5zpyw5k3jeb.cloudfront.net\/photos\/pets\/50697090\/2\/?bust=1614615180\u0026width=600","full":"https:\/\/dl5zpyw5k3jeb.cloudfront.net\/photos\/pets\/50697090\/2\/?bust=1614615180"},{"small":"https:\/\/dl5zpyw5k3jeb.cloudfront.net\/photos\/pets\/50697090\/1\/?bust=1614615175\u0026width=100","medium":"https:\/\/dl5zpyw5k3jeb.cloudfront.net\/photos\/pets\/50697090\/1\/?bust=1614615175\u0026width=300","large":"https:\/\/dl5zpyw5k3jeb.cloudfront.net\/photos\/pets\/50697090\/1\/?bust=1614615175\u0026width=600","full":"https:\/\/dl5zpyw5k3jeb.cloudfront.net\/photos\/pets\/50697090\/1\/?bust=1614615175"}],"primary_photo_cropped":{"small":"https:\/\/dl5zpyw5k3jeb.cloudfront.net\/photos\/pets\/50697090\/2\/?bust=1614615180\u0026width=300","medium":"https:\/\/dl5zpyw5k3jeb.cloudfront.net\/photos\/pets\/50697090\/2\/?bust=1614615180\u0026width=450","large":"https:\/\/dl5zpyw5k3jeb.cloudfront.net\/photos\/pets\/50697090\/2\/?bust=1614615180\u0026width=600","full":"https:\/\/dl5zpyw5k3jeb.cloudfront.net\/photos\/pets\/50697090\/2\/?bust=1614615180"},"videos":[],"status":"adoptable","status_changed_at":"2021-03-01T16:13:20+0000","published_at":"2021-03-01T16:13:20+0000","distance":null,"contact":{"email":"shelter-FL1026@petfinder.com","phone":null,"address":{"address1":"2950
        CR 561","address2":null,"city":"Tavares","state":"FL","postcode":"32778","country":"US"}},"_links":{"self":{"href":"\/v2\/animals\/50697090"},"type":{"href":"\/v2\/types\/dog"},"organization":{"href":"\/v2\/organizations\/fl1026"}}},{"id":50696916,"organization_id":"NY1473","url":"https:\/\/www.petfinder.com\/dog\/matilda-50696916\/ny\/albany\/crazy-paws-dog-rescue-inc-ny1473\/?referrer_id=7a08eea9-3a78-4961-9dee-b60fab4c2090","type":"Dog","species":"Dog","breeds":{"primary":"Beagle","secondary":null,"mixed":false,"unknown":false},"colors":{"primary":"Tricolor
        (Brown, Black, \u0026 White)","secondary":null,"tertiary":null},"age":"Adult","gender":"Female","size":"Small","coat"[...]
