---
http_interactions:
- request:
    method: post
    uri: https://api.petfinder.com/v2/oauth2/token
    body:
      encoding: UTF-8
      string: client_id=<CLIENT_ID>&client_secret=<CLIENT_SECRET>&grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Amzn-Requestid:
      - b20f0c18-d154-4347-86ee-49810ba9b539
      X-Amzn-Remapped-Connection:
      - keep-alive
      X-Amz-Apigw-Id:
      - Gyyk7EJgIAMFpUg=
      X-Amzn-Remapped-Date:
      - Wed, 06 Oct 2021 16:12:28 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"token_type":"Bearer","expires_in":3600,"access_token":"eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJhdWQiOiI2clFzcHIzTng1NjloM1hrR3V4aUJobFNlRUFCUkxxSFVNeEc5bmdaQ2hLTzQ1SFcwYSIsImp0aSI6Ijk5MDMwNzA3ZTM5ZjEwYzkwODkxMWM5MjViOTRhYWZiYjY2NDQ3M2NiMTM1OTFhZDMxYWUwM2UxYTNhZGZlMmUyYThhZDMyNjBhOTg1ZmRjIiwiaWF0IjoxNjMzNTM2NzQ4LCJuYmYiOjE2MzM1MzY3NDgsImV4cCI6MTYzMzU0MDM0OCwic3ViIjoiIiwic2NvcGVzIjpbXX0.rCan__ZumKxj8EUEmwhmlu0jKjb1_ZiX5gsyU5vDw_43voOAc4dxVN16rzKE1SV4PYfifeiWL3Iso4Hnj-Gva8K_HNkZqI4gHaxrvVmttL8C05zyqXuHVXtMgavc26aAW_geam351OiXpV0we3n1D08QUGRAPwXlB2R-cUZGRiCmqsfP4EuGSXUbXt9xCdz6gHC2x6VNTw-7tdCGQx7kxHMh9hEqGP_D10xrFhxCZiPjz_7Va6RjgHjE8p4TaYufDfMdBoxNbYa82eiNCO4gnAFolpbSmcjHGSOzOsZmC4d-JmxbvN2YezeGyPhp6N7O5VrnX6CBTJlxZIhAL3Srig"}'
  recorded_at: Wed, 06 Oct 2021 16:12:27 GMT
- request:
    method: get
    uri: https://api.petfinder.com/v2/animals?gender=female
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJhdWQiOiI2clFzcHIzTng1NjloM1hrR3V4aUJobFNlRUFCUkxxSFVNeEc5bmdaQ2hLTzQ1SFcwYSIsImp0aSI6Ijk5MDMwNzA3ZTM5ZjEwYzkwODkxMWM5MjViOTRhYWZiYjY2NDQ3M2NiMTM1OTFhZDMxYWUwM2UxYTNhZGZlMmUyYThhZDMyNjBhOTg1ZmRjIiwiaWF0IjoxNjMzNTM2NzQ4LCJuYmYiOjE2MzM1MzY3NDgsImV4cCI6MTYzMzU0MDM0OCwic3ViIjoiIiwic2NvcGVzIjpbXX0.rCan__ZumKxj8EUEmwhmlu0jKjb1_ZiX5gsyU5vDw_43voOAc4dxVN16rzKE1SV4PYfifeiWL3Iso4Hnj-Gva8K_HNkZqI4gHaxrvVmttL8C05zyqXuHVXtMgavc26aAW_geam351OiXpV0we3n1D08QUGRAPwXlB2R-cUZGRiCmqsfP4EuGSXUbXt9xCdz6gHC2x6VNTw-7tdCGQx7kxHMh9hEqGP_D10xrFhxCZiPjz_7Va6RjgHjE8p4TaYufDfMdBoxNbYa82eiNCO4gnAFolpbSmcjHGSOzOsZmC4d-JmxbvN2YezeGyPhp6N7O5VrnX6CBTJlxZIhAL3Srig
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - 7a55fe45-b9f1-4ade-bdcf-d5572ad5d4b9
      X-Amzn-Remapped-Connection:
      - keep-alive
      X-Amz-Apigw-Id:
      - Gyyk-GjYIAMF3Bw=
      X-Amzn-Remapped-Date:
      - Wed, 06 Oct 2021 16:12:29 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"animals":[{"id":53186194,"organization_id":"NY423","url":"https:\/\/www.petfinder.com\/cat\/wendy-53186194\/ny\/belmont\/spca-serving-allegany-county-ny423\/?referrer_id=60ac3753-b0b6-4ee4-a1f2-d28369ed697f","type":"Cat","species":"Cat","breeds":{"primary":"Domestic
        Short Hair","secondary":null,"mixed":false,"unknown":false},"colors":{"primary":null,"secondary":null,"tertiary":null},"age":"Young","gender":"Female","size":"Small","coat":"Short","attributes":{"spayed_neutered":true,"house_trained":true,"declawed":false,"special_needs":false,"shots_current":true},"environment":{"children":true,"dogs":true,"cats":true},"tags":["Friendly","Affectionate","Gentle","Dignified","Couch
        potato","Quiet"],"name":"Wendy","description":null,"organization_animal_id":null,"photos":[{"small":"https:\/\/dl5zpyw5k3jeb.cloudfront.net\/photos\/pets\/53186194\/1\/?bust=1633536744\u0026width=100","medium":"https:\/\/dl5zpyw5k3jeb.cloudfront.net\/photos\/pets\/53186194\/1\/?bust=1633536744\u0026width=300","large":"https:\/\/dl5zpyw5k3jeb.cloudfront.net\/photos\/pets\/53186194\/1\/?bust=1633536744\u0026width=600","full":"https:\/\/dl5zpyw5k3jeb.cloudfront.net\/photos\/pets\/53186194\/1\/?bust=1633536744"}],"primary_photo_cropped":{"small":"https:\/\/dl5zpyw5k3jeb.cloudfront.net\/photos\/pets\/53186194\/1\/?bust=1633536744\u0026width=300","medium":"https:\/\/dl5zpyw5k3jeb.cloudfront.net\/photos\/pets\/53186194\/1\/?bust=1633536744\u0026width=450","large":"https:\/\/dl5zpyw5k3jeb.cloudfront.net\/photos\/pets\/53186194\/1\/?bust=1633536744\u0026width=600","full":"https:\/\/dl5zpyw5k3jeb.cloudfront.net\/photos\/pets\/53186194\/1\/?bust=1633536744"},"videos":[],"status":"adoptable","status_changed_at":"2021-10-06T16:12:25+0000","published_at":"2021-10-06T16:12:25+0000","distance":null,"contact":{"email":"spcaallegany@gmail.com","phone":"(585)
        593-2200","address":{"address1":"5440 State Route 19","address2":null,"city":"Belmont","state":"NY","postcode":"14813","country":"US"}},"_links":{"self":{"href":"\/v2\/animals\/53186194"},"type":{"href":"\/v2\/types\/cat"},"organization":{"href":"\/v2\/organizations\/ny423"}}},{"id":53186193,"organization_id":"OH175","url":"https:\/\/www.petfinder.com\/dog\/hanna-h6-hold-53186193\/oh\/canton\/stark-county-sheriff-office-dog-warden-division-oh175\/?referrer_id=60ac3753-b0b6-4ee4-a1f2-d28369ed697f","type":"Dog","species":"Dog","breeds":{"primary":"Pit
        Bull Terrier","secondary":null,"mixed":false,"unknown":false},"colors":{"primary":"Brindle","secondary":null,"tertiary":null},"age":"Young","gender":"Female","size":"Medium",[...]
