---
http_interactions:
- request:
    method: post
    uri: https://api.petfinder.com/v2/oauth2/token
    body:
      encoding: UTF-8
      string: client_id=<CLIENT_ID>&client_secret=<CLIENT_SECRET>&grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Amzn-Requestid:
      - 48b39765-fbab-4c61-9f4f-ddda6ae6c1a7
      X-Amzn-Remapped-Connection:
      - keep-alive
      X-Amz-Apigw-Id:
      - GyymaH_UoAMFl3A=
      X-Amzn-Remapped-Date:
      - Wed, 06 Oct 2021 16:12:37 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"token_type":"Bearer","expires_in":3600,"access_token":"eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJhdWQiOiI2clFzcHIzTng1NjloM1hrR3V4aUJobFNlRUFCUkxxSFVNeEc5bmdaQ2hLTzQ1SFcwYSIsImp0aSI6IjhiOWJkMGJmYjc1NmRjOThiZTkxZGUyNjVhZTMzYjMwM2Y1Y2JlYzI4YTQzYjEzNDU1YWZhMTJhN2NjYTBkZGE0ZWQzOTRhMTVjMjNjOGFjIiwiaWF0IjoxNjMzNTM2NzU3LCJuYmYiOjE2MzM1MzY3NTcsImV4cCI6MTYzMzU0MDM1Nywic3ViIjoiIiwic2NvcGVzIjpbXX0.axN2N_AUOZvU-Kf9yOKP2b6ld5WI-x8WzF7lmWdSL7mRjmLLtegH_zKuUcHspo4-ym_UZah2a01a5ES77slNXib5BXkNH0W_0Ug8N3O2CSCcDTqf9Tvz0-vggsd1nRzgNnP1z-8BAGIVaSBCsuk0dslOyuYH2HwXpHp6xMNRpyhoaAcpzru3FYpJDg2A4eMLVEsICWTGD2NhET6uG7e2NS-faT0bkXezYD6OKnypdfutNRnm_zZZ1EzTlq1yy04e_toviUtRmwHBRWnV3TU5foHNl0iZBk_Cexio6tDGbWiB9LN-UyauS2o5y6dnA_8CliH-x3XcgI5QLbFs1Y9LzA"}'
  recorded_at: Wed, 06 Oct 2021 16:12:36 GMT
- request:
    method: get
    uri: https://api.petfinder.com/v2/animals?status=found
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJhdWQiOiI2clFzcHIzTng1NjloM1hrR3V4aUJobFNlRUFCUkxxSFVNeEc5bmdaQ2hLTzQ1SFcwYSIsImp0aSI6IjhiOWJkMGJmYjc1NmRjOThiZTkxZGUyNjVhZTMzYjMwM2Y1Y2JlYzI4YTQzYjEzNDU1YWZhMTJhN2NjYTBkZGE0ZWQzOTRhMTVjMjNjOGFjIiwiaWF0IjoxNjMzNTM2NzU3LCJuYmYiOjE2MzM1MzY3NTcsImV4cCI6MTYzMzU0MDM1Nywic3ViIjoiIiwic2NvcGVzIjpbXX0.axN2N_AUOZvU-Kf9yOKP2b6ld5WI-x8WzF7lmWdSL7mRjmLLtegH_zKuUcHspo4-ym_UZah2a01a5ES77slNXib5BXkNH0W_0Ug8N3O2CSCcDTqf9Tvz0-vggsd1nRzgNnP1z-8BAGIVaSBCsuk0dslOyuYH2HwXpHp6xMNRpyhoaAcpzru3FYpJDg2A4eMLVEsICWTGD2NhET6uG7e2NS-faT0bkXezYD6OKnypdfutNRnm_zZZ1EzTlq1yy04e_toviUtRmwHBRWnV3TU5foHNl0iZBk_Cexio6tDGbWiB9LN-UyauS2o5y6dnA_8CliH-x3XcgI5QLbFs1Y9LzA
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - 22ecbe13-bb65-4f5e-8fb4-969881295749
      X-Amzn-Remapped-Connection:
      - keep-alive
      X-Amz-Apigw-Id:
      - GyymeEgjIAMF3Ew=
      X-Amzn-Remapped-Date:
      - Wed, 06 Oct 2021 16:12:38 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"animals":[{"id":53185443,"organization_id":"FL284","url":"https:\/\/www.petfinder.com\/cat\/975472-53185443\/fl\/melbourne\/south-animal-care-and-adoption-center-brevard-county-fl284\/?referrer_id=60ac3753-b0b6-4ee4-a1f2-d28369ed697f","type":"Cat","species":"Cat","breeds":{"primary":"Domestic
        Short Hair","secondary":null,"mixed":true,"unknown":false},"colors":{"primary":null,"secondary":null,"tertiary":null},"age":"Adult","gender":"Male","size":"Small","coat":null,"attributes":{"spayed_neutered":false,"house_trained":false,"declawed":false,"special_needs":false,"shots_current":true},"environment":{"children":null,"dogs":null,"cats":null},"tags":[],"name":"975472","description":"Primary
        Color: Orange Secondary Color: White","organization_animal_id":"975472","photos":[{"small":"https:\/\/dl5zpyw5k3jeb.cloudfront.net\/photos\/pets\/53185443\/1\/?bust=1633525192\u0026width=100","medium":"https:\/\/dl5zpyw5k3jeb.cloudfront.net\/photos\/pets\/53185443\/1\/?bust=1633525192\u0026width=300","large":"https:\/\/dl5zpyw5k3jeb.cloudfront.net\/photos\/pets\/53185443\/1\/?bust=1633525192\u0026width=600","full":"https:\/\/dl5zpyw5k3jeb.cloudfront.net\/photos\/pets\/53185443\/1\/?bust=1633525192"}],"primary_photo_cropped":{"small":"https:\/\/dl5zpyw5k3jeb.cloudfront.net\/photos\/pets\/53185443\/1\/?bust=1633525192\u0026width=300","medium":"https:\/\/dl5zpyw5k3jeb.cloudfront.net\/photos\/pets\/53185443\/1\/?bust=1633525192\u0026width=450","large":"https:\/\/dl5zpyw5k3jeb.cloudfront.net\/photos\/pets\/53185443\/1\/?bust=1633525192\u0026width=600","full":"https:\/\/dl5zpyw5k3jeb.cloudfront.net\/photos\/pets\/53185443\/1\/?bust=1633525192"},"videos":[],"status":"found","status_changed_at":"2021-10-06T12:01:37+0000","published_at":"2021-10-06T12:01:37+0000","distance":null,"contact":{"email":null,"phone":"(321)
        633-2024","address":{"address1":"5100 West Eau Gallie Boulevard","address2":null,"city":"Melbourne","state":"FL","postcode":"32934","country":"US"}},"_links":{"self":{"href":"\/v2\/animals\/53185443"},"type":{"href":"\/v2\/types\/cat"},"organization":{"href":"\/v2\/organizations\/fl284"}}},{"id":53180966,"organization_id":"NC16","url":"https:\/\/www.petfinder.com\/cat\/benny-53180966\/nc\/raleigh\/wake-county-animal-center-nc16\/?referrer_id=60ac3753-b0b6-4ee4-a1f2-d28369ed697f","type":"Cat","species":"Cat","breeds":{"primary":"Domestic
        Long Hair","secondary":null,"mixed":true,"unknown":false},"colors":{"primary":null,"secondary":null,"tertiary":null},"age":"Young","gender":"Male","size":"Medium","coat":null,"attributes":{"spayed_neu[...]
