---
http_interactions:
- request:
    method: post
    uri: https://api.petfinder.com/v2/oauth2/token
    body:
      encoding: UTF-8
      string: client_id=<CLIENT_ID>&client_secret=<CLIENT_SECRET>&grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Amzn-Requestid:
      - da599ffb-a9d0-496c-8834-7096d94dd748
      X-Amzn-Remapped-Connection:
      - keep-alive
      X-Amz-Apigw-Id:
      - GyynQE8aoAMFqoA=
      X-Amzn-Remapped-Date:
      - Wed, 06 Oct 2021 16:12:43 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"token_type":"Bearer","expires_in":3600,"access_token":"eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJhdWQiOiI2clFzcHIzTng1NjloM1hrR3V4aUJobFNlRUFCUkxxSFVNeEc5bmdaQ2hLTzQ1SFcwYSIsImp0aSI6IjY5MGExMTkzNzgyZDI0ZDIyMWY4MzFmMDcxMjdlOGMxZTdmODExYjRjMjAyODA4ZTRkZTNiYWMyNzBiMzJmZWMxNTU4Y2JlYWU0OTdjMWExIiwiaWF0IjoxNjMzNTM2NzYzLCJuYmYiOjE2MzM1MzY3NjMsImV4cCI6MTYzMzU0MDM2Mywic3ViIjoiIiwic2NvcGVzIjpbXX0.y86abS5SF4gdMcZfdDhVV2zmER2LES7JK-AoWwR2LIsZUygSPbhVf3toXkprqtmyNSD_U5lr7wf3spFMBuzRoaJNCZzkSBeOjTZ6i16SZlP-65bx12g3gtezvQUWR1jdrn9_ygCHZBwXpn3IE4e-FWHvzxpdvqSWsv0PFPtLGHvQvk_Pc1iRHQDnhPHaSvaeJkMpWaCapEF2YAZdLNLs-ZHrRBNtXSy_XbzOE2fVIGLwO5q28B9DVI_Vtp-LH4Xb-7gz6ZsQPACOAI-7jqN_x7KJ89kpWwJr6hnD4bPPEVWCPcl8yLJyft3SZQep6B_MTRyiEW0dhN-ON98Au1zS5A"}'
  recorded_at: Wed, 06 Oct 2021 16:12:42 GMT
- request:
    method: get
    uri: https://api.petfinder.com/v2/organizations/LA392
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJhdWQiOiI2clFzcHIzTng1NjloM1hrR3V4aUJobFNlRUFCUkxxSFVNeEc5bmdaQ2hLTzQ1SFcwYSIsImp0aSI6IjY5MGExMTkzNzgyZDI0ZDIyMWY4MzFmMDcxMjdlOGMxZTdmODExYjRjMjAyODA4ZTRkZTNiYWMyNzBiMzJmZWMxNTU4Y2JlYWU0OTdjMWExIiwiaWF0IjoxNjMzNTM2NzYzLCJuYmYiOjE2MzM1MzY3NjMsImV4cCI6MTYzMzU0MDM2Mywic3ViIjoiIiwic2NvcGVzIjpbXX0.y86abS5SF4gdMcZfdDhVV2zmER2LES7JK-AoWwR2LIsZUygSPbhVf3toXkprqtmyNSD_U5lr7wf3spFMBuzRoaJNCZzkSBeOjTZ6i16SZlP-65bx12g3gtezvQUWR1jdrn9_ygCHZBwXpn3IE4e-FWHvzxpdvqSWsv0PFPtLGHvQvk_Pc1iRHQDnhPHaSvaeJkMpWaCapEF2YAZdLNLs-ZHrRBNtXSy_XbzOE2fVIGLwO5q28B9DVI_Vtp-LH4Xb-7gz6ZsQPACOAI-7jqN_x7KJ89kpWwJr6hnD4bPPEVWCPcl8yLJyft3SZQep6B_MTRyiEW0dhN-ON98Au1zS5A
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - cf142a70-2cfe-46fd-87f2-ace6c9336a2d
      X-Amzn-Remapped-Connection:
      - keep-alive
      X-Amz-Apigw-Id:
      - GyynTFw1IAMFnGA=
      X-Amzn-Remapped-Date:
      - Wed, 06 Oct 2021 16:12:43 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"organization":{"id":"LA392","name":"Second Chance Dog Rescue LA","email":"secondchancedogrescuela@gmail.com","phone":"(225)
        931-9157","address":{"address1":null,"address2":null,"city":"Baton Rouge","state":"LA","postcode":"70806","country":"US"},"hours":{"monday":null,"tuesday":null,"wednesday":null,"thursday":null,"friday":null,"saturday":null,"sunday":null},"url":"https:\/\/www.petfinder.com\/member\/us\/la\/baton-rouge\/second-chance-dog-rescue-la-la392\/?referrer_id=60ac3753-b0b6-4ee4-a1f2-d28369ed697f","website":"https:\/\/secondchancedogrescuela.org\/","mission_statement":"Rescue.Rehab.Rehome.","adoption":{"policy":null,"url":"http:\/\/secondchancedogrescuela.org\/adopt-a-dog-2\/adoption-application\/"},"social_media":{"facebook":"https:\/\/www.facebook.com\/secondchancelouisiana\/","twitter":"https:\/\/twitter.com\/second_rescue","youtube":null,"instagram":"https:\/\/www.instagram.com\/secondchancedogrescuela\/","pinterest":null},"photos":[{"small":"https:\/\/dl5zpyw5k3jeb.cloudfront.net\/organization-photos\/47948\/1\/?bust=1515730417\u0026width=100","medium":"https:\/\/dl5zpyw5k3jeb.cloudfront.net\/organization-photos\/47948\/1\/?bust=1515730417\u0026width=300","large":"https:\/\/dl5zpyw5k3jeb.cloudfront.net\/organization-photos\/47948\/1\/?bust=1515730417\u0026width=600","full":"https:\/\/dl5zpyw5k3jeb.cloudfront.net\/organization-photos\/47948\/1\/?bust=1515730417"}],"distance":null,"_links":{"self":{"href":"\/v2\/organizations\/la392"},"animals":{"href":"\/v2\/animals?organization=la392"}}}}'
  recorded_at: Wed, 06 Oct 2021 16:12:42 GMT
recorded_with: VCR 6.0.0
