---
http_interactions:
- request:
    method: post
    uri: https://api.petfinder.com/v2/oauth2/token
    body:
      encoding: UTF-8
      string: client_id=<CLIENT_ID>&client_secret=<CLIENT_SECRET>&grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Amzn-Requestid:
      - 847c1f66-db1d-46fe-b37c-7629fc110c23
      X-Amzn-Remapped-Content-Length:
      - '604'
      X-Amzn-Remapped-Connection:
      - keep-alive
      X-Amz-Apigw-Id:
      - bhAgwE1_oAMFktQ=
      X-Amzn-Remapped-Date:
      - Mon, 01 Mar 2021 16:20:59 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"token_type":"Bearer","expires_in":3600,"access_token":"eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJhdWQiOiJ0dG5JTTZ2ZVBicnBxSjhxQkdZMmNvOVpCU2pmcEF3Yjg0Tzc0NWZ4UmQwUG41ZmUzaCIsImp0aSI6IjFmYjRmYmRhZDY2MGM0NDY0NDAxMzU4MGE5ZjVlY2VjZjY4ZWQxOWM1MTFjZDdmNmRjNTg5MWRlMzBjMzUzYzMzYzE4ZWRmNjI1YjJkNzFhIiwiaWF0IjoxNjE0NjE1NjU5LCJuYmYiOjE2MTQ2MTU2NTksImV4cCI6MTYxNDYxOTI1OSwic3ViIjoiIiwic2NvcGVzIjpbXX0.T76E6z7l8D6VOZKrtyQwPfTEDPjMobstOt1d-OgsabfEF92mvgvHyoWQ-1TDOB6oreofJ9Ph2RjqYQvLDT-8n3EMhwn6eelKA1mQOQwUqmYvupEW3o4Yu1tqB8I1RSm2VHq4vF_tS0aJMfu_sRDehqe-dUt67ReIIDqHPeBfbCU0S5Z8Srr0uFkvosbugaWeWkOkJn03v0as7wiQtT-3I7nEgv4XKbmBRGQMZ_0UoPatijiWkuDpPWO3LTX49SCYzh2bwaHVBMATAM9eX4PaiTuaMrUseAVwUG88fQ1j9U28Pc_zAvB9GZ-zwQf1dNGICjG0_yjW_1emrt1uyFl8EA"}'
  recorded_at: Mon, 01 Mar 2021 16:20:55 GMT
- request:
    method: get
    uri: https://api.petfinder.com/v2/animals/50697090
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJhdWQiOiJ0dG5JTTZ2ZVBicnBxSjhxQkdZMmNvOVpCU2pmcEF3Yjg0Tzc0NWZ4UmQwUG41ZmUzaCIsImp0aSI6IjFmYjRmYmRhZDY2MGM0NDY0NDAxMzU4MGE5ZjVlY2VjZjY4ZWQxOWM1MTFjZDdmNmRjNTg5MWRlMzBjMzUzYzMzYzE4ZWRmNjI1YjJkNzFhIiwiaWF0IjoxNjE0NjE1NjU5LCJuYmYiOjE2MTQ2MTU2NTksImV4cCI6MTYxNDYxOTI1OSwic3ViIjoiIiwic2NvcGVzIjpbXX0.T76E6z7l8D6VOZKrtyQwPfTEDPjMobstOt1d-OgsabfEF92mvgvHyoWQ-1TDOB6oreofJ9Ph2RjqYQvLDT-8n3EMhwn6eelKA1mQOQwUqmYvupEW3o4Yu1tqB8I1RSm2VHq4vF_tS0aJMfu_sRDehqe-dUt67ReIIDqHPeBfbCU0S5Z8Srr0uFkvosbugaWeWkOkJn03v0as7wiQtT-3I7nEgv4XKbmBRGQMZ_0UoPatijiWkuDpPWO3LTX49SCYzh2bwaHVBMATAM9eX4PaiTuaMrUseAVwUG88fQ1j9U28Pc_zAvB9GZ-zwQf1dNGICjG0_yjW_1emrt1uyFl8EA
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - 33352eef-c70a-4fa6-8e9f-e8376761dcb5
      X-Amzn-Remapped-Content-Length:
      - '863'
      X-Amzn-Remapped-Connection:
      - keep-alive
      X-Amz-Apigw-Id:
      - bhAg1HoGIAMFT4A=
      X-Amzn-Remapped-Date:
      - Mon, 01 Mar 2021 16:20:59 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"animal":{"id":50697090,"organization_id":"FL1026","url":"https:\/\/www.petfinder.com\/dog\/ruby-50697090\/fl\/tavares\/a-forever-home-animal-rescue-inc-fl1026\/?referrer_id=7a08eea9-3a78-4961-9dee-b60fab4c2090","type":"Dog","species":"Dog","breeds":{"primary":"Chihuahua","secondary":null,"mixed":true,"unknown":false},"colors":{"primary":"Black","secondary":"Brown
        \/ Chocolate","tertiary":null},"age":"Senior","gender":"Female","size":"Small","coat":"Short","attributes":{"spayed_neutered":true,"house_trained":true,"declawed":null,"special_needs":false,"shots_current":true},"environment":{"children":true,"dogs":true,"cats":null},"tags":[],"name":"Ruby","description":"Ruby
        is a 14 year old chihuahua mix weighing 14 pounds. Ruby is more shy and laid
        back. She came...","organization_animal_id":null,"photos":[{"small":"https:\/\/dl5zpyw5k3jeb.cloudfront.net\/photos\/pets\/50697090\/2\/?bust=1614615180\u0026width=100","medium":"https:\/\/dl5zpyw5k3jeb.cloudfront.net\/photos\/pets\/50697090\/2\/?bust=1614615180\u0026width=300","large":"https:\/\/dl5zpyw5k3jeb.cloudfront.net\/photos\/pets\/50697090\/2\/?bust=1614615180\u0026width=600","full":"https:\/\/dl5zpyw5k3jeb.cloudfront.net\/photos\/pets\/50697090\/2\/?bust=1614615180"},{"small":"https:\/\/dl5zpyw5k3jeb.cloudfront.net\/photos\/pets\/50697090\/1\/?bust=1614615175\u0026width=100","medium":"https:\/\/dl5zpyw5k3jeb.cloudfront.net\/photos\/pets\/50697090\/1\/?bust=1614615175\u0026width=300","large":"https:\/\/dl5zpyw5k3jeb.cloudfront.net\/photos\/pets\/50697090\/1\/?bust=1614615175\u0026width=600","full":"https:\/\/dl5zpyw5k3jeb.cloudfront.net\/photos\/pets\/50697090\/1\/?bust=1614615175"}],"primary_photo_cropped":{"small":"https:\/\/dl5zpyw5k3jeb.cloudfront.net\/photos\/pets\/50697090\/2\/?bust=1614615180\u0026width=300","medium":"https:\/\/dl5zpyw5k3jeb.cloudfront.net\/photos\/pets\/50697090\/2\/?bust=1614615180\u0026width=450","large":"https:\/\/dl5zpyw5k3jeb.cloudfront.net\/photos\/pets\/50697090\/2\/?bust=1614615180\u0026width=600","full":"https:\/\/dl5zpyw5k3jeb.cloudfront.net\/photos\/pets\/50697090\/2\/?bust=1614615180"},"videos":[],"status":"adoptable","status_changed_at":"2021-03-01T16:13:20+0000","published_at":"2021-03-01T16:13:20+0000","distance":null,"contact":{"email":"shelter-FL1026@petfinder.com","phone":null,"address":{"address1":"2950
        CR 561","address2":null,"city":"Tavares","state":"FL","postcode":"32778","country":"US"}},"_links":{"self":{"href":"\/v2\/animals\/50697090"},"type":{"href":"\/v2\/types\/dog"},"organization":{"href":"\/v2\/organizations\/fl1026"}}}}'
  recorded_at: Mon, 01 Mar 2021 16:20:56 GMT
recorded_with: VCR 5.0.0
