---
http_interactions:
- request:
    method: post
    uri: https://api.petfinder.com/v2/oauth2/token
    body:
      encoding: UTF-8
      string: client_id=<CLIENT_ID>&client_secret=<CLIENT_SECRET>&grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/problem+json
      X-Amzn-Requestid:
      - ed7712d1-7204-11e9-b742-6f4d59ea795c
      X-Amzn-Remapped-Content-Length:
      - '385'
      X-Amzn-Remapped-Connection:
      - keep-alive
      X-Amz-Apigw-Id:
      - ZZQ3sGG0IAMF5uA=
      X-Amzn-Remapped-Date:
      - Thu, 09 May 2019 02:48:30 GMT
    body:
      encoding: UTF-8
      string: '{"type":"https:\/\/www.petfinder.com\/developers\/v2\/docs\/errors\/ERR-401\/","status":401,"title":"invalid_client","detail":"Client
        authentication failed","errors":[{"code":"invalid_client","title":"Unauthorized","message":"Client
        authentication failed","details":"Client authentication failed","href":"http:\/\/developer.petfinder.com\/v2\/errors.html#invalid_client"}],"hint":null}'
  recorded_at: Thu, 09 May 2019 02:48:30 GMT
recorded_with: VCR 4.0.0
