---
http_interactions:
- request:
    method: post
    uri: https://api.petfinder.com/v2/oauth2/token
    body:
      encoding: UTF-8
      string: client_id&client_secret&grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/problem+json
      X-Amzn-Requestid:
      - b6d3e0f1-711d-11e9-a677-4777c73b3f14
      X-Amzn-Remapped-Content-Length:
      - '385'
      X-Amzn-Remapped-Connection:
      - keep-alive
      X-Amz-Apigw-Id:
      - ZVebOHAkIAMFwyg=
      X-Amzn-Remapped-Date:
      - Tue, 07 May 2019 23:13:24 GMT
    body:
      encoding: UTF-8
      string: '{"type":"https:\/\/www.petfinder.com\/developers\/v2\/docs\/errors\/ERR-401\/","status":401,"title":"invalid_client","detail":"Client
        authentication failed","errors":[{"code":"invalid_client","title":"Unauthorized","message":"Client
        authentication failed","details":"Client authentication failed","href":"http:\/\/developer.petfinder.com\/v2\/errors.html#invalid_client"}],"hint":null}'
  recorded_at: Tue, 07 May 2019 23:13:24 GMT
- request:
    method: get
    uri: https://api.petfinder.com/v2/animals?type=dog
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/problem+json
      X-Amzn-Requestid:
      - b71cf86c-711d-11e9-a973-b15cc95fc8c2
      X-Amzn-Errortype:
      - UnauthorizedException
      X-Amz-Apigw-Id:
      - ZVebTGKtIAMFkfg=
    body:
      encoding: UTF-8
      string: '{"type":"https://httpstatus.es/401", "status":401, "title":"Unauthorized",
        "detail":"Access token invalid or expired"}'
  recorded_at: Tue, 07 May 2019 23:13:25 GMT
recorded_with: VCR 4.0.0
