---
http_interactions:
- request:
    method: post
    uri: https://api.petfinder.com/v2/oauth2/token
    body:
      encoding: UTF-8
      string: client_id=fake&client_secret=fake&grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/problem+json
      X-Amzn-Requestid:
      - 74faaf38-7e00-46df-a14d-05730a7b1d24
      X-Amzn-Remapped-Connection:
      - keep-alive
      X-Amz-Apigw-Id:
      - GyympHD0oAMFbZA=
      X-Amzn-Remapped-Date:
      - Wed, 06 Oct 2021 16:12:39 GMT
    body:
      encoding: UTF-8
      string: '{"type":"https:\/\/www.petfinder.com\/developers\/v2\/docs\/errors\/ERR-401\/","status":401,"title":"invalid_client","detail":"Client
        authentication failed","errors":[{"code":"invalid_client","title":"Unauthorized","message":"Client
        authentication failed","details":"Client authentication failed","href":"http:\/\/developer.petfinder.com\/v2\/errors.html#invalid_client"}],"hint":null}'
  recorded_at: Wed, 06 Oct 2021 16:12:38 GMT
recorded_with: VCR 6.0.0
