---
http_interactions:
- request:
    method: post
    uri: https://api.petfinder.com/v2/oauth2/token
    body:
      encoding: UTF-8
      string: client_id=fake&client_secret=fake&grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/problem+json
      X-Amzn-Requestid:
      - bac8a02d-d01c-471d-ab94-e253950264d0
      X-Amzn-Remapped-Content-Length:
      - '385'
      X-Amzn-Remapped-Connection:
      - keep-alive
      X-Amz-Apigw-Id:
      - bhAN3GzcoAMFtnA=
      X-Amzn-Remapped-Date:
      - Mon, 01 Mar 2021 16:18:58 GMT
    body:
      encoding: UTF-8
      string: '{"type":"https:\/\/www.petfinder.com\/developers\/v2\/docs\/errors\/ERR-401\/","status":401,"title":"invalid_client","detail":"Client
        authentication failed","errors":[{"code":"invalid_client","title":"Unauthorized","message":"Client
        authentication failed","details":"Client authentication failed","href":"http:\/\/developer.petfinder.com\/v2\/errors.html#invalid_client"}],"hint":null}'
  recorded_at: Mon, 01 Mar 2021 16:18:54 GMT
recorded_with: VCR 5.0.0
