---
http_interactions:
- request:
    method: post
    uri: https://api.petfinder.com/v2/oauth2/token
    body:
      encoding: UTF-8
      string: client_id=<CLIENT_ID>&client_secret=<CLIENT_SECRET>&grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Amzn-Requestid:
      - b1329584-8188-4239-b468-8f5a71af6284
      X-Amzn-Remapped-Content-Length:
      - '603'
      X-Amzn-Remapped-Connection:
      - keep-alive
      X-Amz-Apigw-Id:
      - bg_cVGAKIAMFwdw=
      X-Amzn-Remapped-Date:
      - Mon, 01 Mar 2021 16:13:41 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"token_type":"Bearer","expires_in":3600,"access_token":"eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJhdWQiOiJ0dG5JTTZ2ZVBicnBxSjhxQkdZMmNvOVpCU2pmcEF3Yjg0Tzc0NWZ4UmQwUG41ZmUzaCIsImp0aSI6ImNkYWEyMWM4ZmY1ZDJhZTYxZWY4Y2IzY2IxYmI0MDA1YmE5OWVlMDVkMWE5ZjI0YzlhNWM5MGFjNTliODU2MWEzNDgwZTJiM2MyODdmMWFmIiwiaWF0IjoxNjE0NjE1MjIxLCJuYmYiOjE2MTQ2MTUyMjEsImV4cCI6MTYxNDYxODgyMSwic3ViIjoiIiwic2NvcGVzIjpbXX0.oWZY7Iubw-xnnj0LOlggHM974J_4kMzRv52wP85s4t7lS9m9qBY0eCl0bHoux1wnMBNCjCQHRAp0OuHM3TA_3e83-umuHPTvFoxJM7RYOITMTquDfiUvtacf2gM-2QZAYV17JDyRxZJ8Nw7kk5lDVfeXpKBbVD9SZNNSS6e_WquCFs-bbtnfiWbXQqLvwQxlGCgMyI7_QUwgFhD3pRRnWeXINYmScndqXUn_jmij3gDJLPIZLZuDmMakqiRxxVb_wx5gOWYrqwLESTVqf3WSUbZqukVZZ4SD6mNoVd2VeXb47zmStOq-FNXDhDIJndcQpJfPEiTHUcn5s-6AtfqHHQ"}'
  recorded_at: Mon, 01 Mar 2021 16:13:37 GMT
- request:
    method: get
    uri: https://api.petfinder.com/v2/animals?limit=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJhdWQiOiJ0dG5JTTZ2ZVBicnBxSjhxQkdZMmNvOVpCU2pmcEF3Yjg0Tzc0NWZ4UmQwUG41ZmUzaCIsImp0aSI6ImNkYWEyMWM4ZmY1ZDJhZTYxZWY4Y2IzY2IxYmI0MDA1YmE5OWVlMDVkMWE5ZjI0YzlhNWM5MGFjNTliODU2MWEzNDgwZTJiM2MyODdmMWFmIiwiaWF0IjoxNjE0NjE1MjIxLCJuYmYiOjE2MTQ2MTUyMjEsImV4cCI6MTYxNDYxODgyMSwic3ViIjoiIiwic2NvcGVzIjpbXX0.oWZY7Iubw-xnnj0LOlggHM974J_4kMzRv52wP85s4t7lS9m9qBY0eCl0bHoux1wnMBNCjCQHRAp0OuHM3TA_3e83-umuHPTvFoxJM7RYOITMTquDfiUvtacf2gM-2QZAYV17JDyRxZJ8Nw7kk5lDVfeXpKBbVD9SZNNSS6e_WquCFs-bbtnfiWbXQqLvwQxlGCgMyI7_QUwgFhD3pRRnWeXINYmScndqXUn_jmij3gDJLPIZLZuDmMakqiRxxVb_wx5gOWYrqwLESTVqf3WSUbZqukVZZ4SD6mNoVd2VeXb47zmStOq-FNXDhDIJndcQpJfPEiTHUcn5s-6AtfqHHQ
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - dec9860b-e8a1-404e-bc5f-02f4413c76b8
      X-Amzn-Remapped-Content-Length:
      - '2419'
      X-Amzn-Remapped-Connection:
      - keep-alive
      X-Amz-Apigw-Id:
      - bg_cZGdmoAMFlAA=
      X-Amzn-Remapped-Date:
      - Mon, 01 Mar 2021 16:13:42 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"animals":[{"id":50697090,"organization_id":"FL1026","url":"https:\/\/www.petfinder.com\/dog\/ruby-50697090\/fl\/tavares\/a-forever-home-animal-rescue-inc-fl1026\/?referrer_id=7a08eea9-3a78-4961-9dee-b60fab4c2090","type":"Dog","species":"Dog","breeds":{"primary":"Chihuahua","secondary":null,"mixed":true,"unknown":false},"colors":{"primary":"Black","secondary":"Brown
        \/ Chocolate","tertiary":null},"age":"Senior","gender":"Female","size":"Small","coat":"Short","attributes":{"spayed_neutered":true,"house_trained":true,"declawed":null,"special_needs":false,"shots_current":true},"environment":{"children":true,"dogs":true,"cats":null},"tags":[],"name":"Ruby","description":"Ruby
        is a 14 year old chihuahua mix weighing 14 pounds. Ruby is more shy and laid
        back. She came...","organization_animal_id":null,"photos":[{"small":"https:\/\/dl5zpyw5k3jeb.cloudfront.net\/photos\/pets\/50697090\/2\/?bust=1614615180\u0026width=100","medium":"https:\/\/dl5zpyw5k3jeb.cloudfront.net\/photos\/pets\/50697090\/2\/?bust=1614615180\u0026width=300","large":"https:\/\/dl5zpyw5k3jeb.cloudfront.net\/photos\/pets\/50697090\/2\/?bust=1614615180\u0026width=600","full":"https:\/\/dl5zpyw5k3jeb.cloudfront.net\/photos\/pets\/50697090\/2\/?bust=1614615180"},{"small":"https:\/\/dl5zpyw5k3jeb.cloudfront.net\/photos\/pets\/50697090\/1\/?bust=1614615175\u0026width=100","medium":"https:\/\/dl5zpyw5k3jeb.cloudfront.net\/photos\/pets\/50697090\/1\/?bust=1614615175\u0026width=300","large":"https:\/\/dl5zpyw5k3jeb.cloudfront.net\/photos\/pets\/50697090\/1\/?bust=1614615175\u0026width=600","full":"https:\/\/dl5zpyw5k3jeb.cloudfront.net\/photos\/pets\/50697090\/1\/?bust=1614615175"}],"primary_photo_cropped":{"small":"https:\/\/dl5zpyw5k3jeb.cloudfront.net\/photos\/pets\/50697090\/2\/?bust=1614615180\u0026width=300","medium":"https:\/\/dl5zpyw5k3jeb.cloudfront.net\/photos\/pets\/50697090\/2\/?bust=1614615180\u0026width=450","large":"https:\/\/dl5zpyw5k3jeb.cloudfront.net\/photos\/pets\/50697090\/2\/?bust=1614615180\u0026width=600","full":"https:\/\/dl5zpyw5k3jeb.cloudfront.net\/photos\/pets\/50697090\/2\/?bust=1614615180"},"videos":[],"status":"adoptable","status_changed_at":"2021-03-01T16:13:20+0000","published_at":"2021-03-01T16:13:20+0000","distance":null,"contact":{"email":"shelter-FL1026@petfinder.com","phone":null,"address":{"address1":"2950
        CR 561","address2":null,"city":"Tavares","state":"FL","postcode":"32778","country":"US"}},"_links":{"self":{"href":"\/v2\/animals\/50697090"},"type":{"href":"\/v2\/types\/dog"},"organization":{"href":"\/v2\/organizations\/fl1026"}}},{"id":50696979,"organization_id":"WA658","url":"https:\/\/www.petfinder.com\/dog\/king-50696979\/wa\/tacoma\/lucky-paws-rescue-wa658\/?referrer_id=7a08eea9-3a78-4961-9dee-b60fab4c2090","type":"Dog","species":"Dog","breeds":{"primary":"Pit
        Bull Terrier","secondary":"Labrador Retriever","mixed":true,"unknown":false},"colors":{"primary":"White
        \/ Cream","secondary":null,"tertiary":null},"age":"Senior","gender":"Male","size":"Large","coat":"Sh[...]
