---
http_interactions:
- request:
    method: post
    uri: https://api.petfinder.com/v2/oauth2/token
    body:
      encoding: UTF-8
      string: client_id=<CLIENT_ID>&client_secret=<CLIENT_SECRET>&grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Amzn-Requestid:
      - 9b96d49d-b741-4075-bbab-c45c1ffdc5f8
      X-Amzn-Remapped-Connection:
      - keep-alive
      X-Amz-Apigw-Id:
      - GyymBGe5IAMFZtw=
      X-Amzn-Remapped-Date:
      - Wed, 06 Oct 2021 16:12:35 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"token_type":"Bearer","expires_in":3600,"access_token":"eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJhdWQiOiI2clFzcHIzTng1NjloM1hrR3V4aUJobFNlRUFCUkxxSFVNeEc5bmdaQ2hLTzQ1SFcwYSIsImp0aSI6IjkyNjU3MTVkZmIwNzRmOWE0ZDNmODRhNmJlMTk4ZDlhZmY5YTFjOTU5ZTNlZTY5ZmI1YmMzZWM5MGE1NWFlNzg3OTc3NzQ0NDExM2RkOGJmIiwiaWF0IjoxNjMzNTM2NzU1LCJuYmYiOjE2MzM1MzY3NTUsImV4cCI6MTYzMzU0MDM1NSwic3ViIjoiIiwic2NvcGVzIjpbXX0.lM6vB9Jo-k5TePG9ulHNAZamj6ACksl6qKs8do99o2Im1pGm5dKGH6nOLYOvEH4cvQfk3I4bEVvYuQ9spa9euRGhc3aUitiwpZnHPz_1d2pyELjUftXgPu50iqYRLYqjs4qZ_P6zM_Kq8tsSJOAocl3z4V81ttrGBfnviTN5Crd5o0Xh8xvFl7uKh_jBFCqYIYDI6Njdk_xc7wZ9KX6GoU6P8iy5H1BEQNe5q5ppKe377-VwxZrul3PzxGLzzzUqA48w-Xs_udOKfzqZVeqOkuQ_OptTFMAbJddTiWY45yCYuYBU4Do_d2V0aEVg3cu5JWFZ_mlKyDWZG73JGs7kqw"}'
  recorded_at: Wed, 06 Oct 2021 16:12:34 GMT
- request:
    method: get
    uri: https://api.petfinder.com/v2/animals?coat=medium,short
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJhdWQiOiI2clFzcHIzTng1NjloM1hrR3V4aUJobFNlRUFCUkxxSFVNeEc5bmdaQ2hLTzQ1SFcwYSIsImp0aSI6IjkyNjU3MTVkZmIwNzRmOWE0ZDNmODRhNmJlMTk4ZDlhZmY5YTFjOTU5ZTNlZTY5ZmI1YmMzZWM5MGE1NWFlNzg3OTc3NzQ0NDExM2RkOGJmIiwiaWF0IjoxNjMzNTM2NzU1LCJuYmYiOjE2MzM1MzY3NTUsImV4cCI6MTYzMzU0MDM1NSwic3ViIjoiIiwic2NvcGVzIjpbXX0.lM6vB9Jo-k5TePG9ulHNAZamj6ACksl6qKs8do99o2Im1pGm5dKGH6nOLYOvEH4cvQfk3I4bEVvYuQ9spa9euRGhc3aUitiwpZnHPz_1d2pyELjUftXgPu50iqYRLYqjs4qZ_P6zM_Kq8tsSJOAocl3z4V81ttrGBfnviTN5Crd5o0Xh8xvFl7uKh_jBFCqYIYDI6Njdk_xc7wZ9KX6GoU6P8iy5H1BEQNe5q5ppKe377-VwxZrul3PzxGLzzzUqA48w-Xs_udOKfzqZVeqOkuQ_OptTFMAbJddTiWY45yCYuYBU4Do_d2V0aEVg3cu5JWFZ_mlKyDWZG73JGs7kqw
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - c2a55f21-35ed-4253-87bb-3d04d0c94cc9
      X-Amzn-Remapped-Connection:
      - keep-alive
      X-Amz-Apigw-Id:
      - GyymEEm-IAMFjeQ=
      X-Amzn-Remapped-Date:
      - Wed, 06 Oct 2021 16:12:36 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"animals":[{"id":53186194,"organization_id":"NY423","url":"https:\/\/www.petfinder.com\/cat\/wendy-53186194\/ny\/belmont\/spca-serving-allegany-county-ny423\/?referrer_id=60ac3753-b0b6-4ee4-a1f2-d28369ed697f","type":"Cat","species":"Cat","breeds":{"primary":"Domestic
        Short Hair","secondary":null,"mixed":false,"unknown":false},"colors":{"primary":null,"secondary":null,"tertiary":null},"age":"Young","gender":"Female","size":"Small","coat":"Short","attributes":{"spayed_neutered":true,"house_trained":true,"declawed":false,"special_needs":false,"shots_current":true},"environment":{"children":true,"dogs":true,"cats":true},"tags":["Friendly","Affectionate","Gentle","Dignified","Couch
        potato","Quiet"],"name":"Wendy","description":null,"organization_animal_id":null,"photos":[{"small":"https:\/\/dl5zpyw5k3jeb.cloudfront.net\/photos\/pets\/53186194\/1\/?bust=1633536744\u0026width=100","medium":"https:\/\/dl5zpyw5k3jeb.cloudfront.net\/photos\/pets\/53186194\/1\/?bust=1633536744\u0026width=300","large":"https:\/\/dl5zpyw5k3jeb.cloudfront.net\/photos\/pets\/53186194\/1\/?bust=1633536744\u0026width=600","full":"https:\/\/dl5zpyw5k3jeb.cloudfront.net\/photos\/pets\/53186194\/1\/?bust=1633536744"}],"primary_photo_cropped":{"small":"https:\/\/dl5zpyw5k3jeb.cloudfront.net\/photos\/pets\/53186194\/1\/?bust=1633536744\u0026width=300","medium":"https:\/\/dl5zpyw5k3jeb.cloudfront.net\/photos\/pets\/53186194\/1\/?bust=1633536744\u0026width=450","large":"https:\/\/dl5zpyw5k3jeb.cloudfront.net\/photos\/pets\/53186194\/1\/?bust=1633536744\u0026width=600","full":"https:\/\/dl5zpyw5k3jeb.cloudfront.net\/photos\/pets\/53186194\/1\/?bust=1633536744"},"videos":[],"status":"adoptable","status_changed_at":"2021-10-06T16:12:25+0000","published_at":"2021-10-06T16:12:25+0000","distance":null,"contact":{"email":"spcaallegany@gmail.com","phone":"(585)
        593-2200","address":{"address1":"5440 State Route 19","address2":null,"city":"Belmont","state":"NY","postcode":"14813","country":"US"}},"_links":{"self":{"href":"\/v2\/animals\/53186194"},"type":{"href":"\/v2\/types\/cat"},"organization":{"href":"\/v2\/organizations\/ny423"}}},{"id":53186190,"organization_id":"NM198","url":"https:\/\/www.petfinder.com\/cat\/tabi-53186190\/nm\/las-cruces\/cats-meow-adoption-center-nm198\/?referrer_id=60ac3753-b0b6-4ee4-a1f2-d28369ed697f","type":"Cat","species":"Cat","breeds":{"primary":"Tabby","secondary":"Domestic
        Short Hair","mixed":true,"unknown":false},"colors":{"primary":"Tabby (Brown
        \/ Chocolate)","secondary":null,"tertiary":null},"age":"Adult","gender":"Female","size":"Med[...]
