---
http_interactions:
- request:
    method: post
    uri: https://api.petfinder.com/v2/oauth2/token
    body:
      encoding: UTF-8
      string: client_id=<CLIENT_ID>&client_secret=<CLIENT_SECRET>&grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Amzn-Requestid:
      - 7527959d-b36f-4bfb-8480-62084f59bc5c
      X-Amzn-Remapped-Content-Length:
      - '603'
      X-Amzn-Remapped-Connection:
      - keep-alive
      X-Amz-Apigw-Id:
      - bg_fHHahoAMFj-A=
      X-Amzn-Remapped-Date:
      - Mon, 01 Mar 2021 16:13:59 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"token_type":"Bearer","expires_in":3600,"access_token":"eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJhdWQiOiJ0dG5JTTZ2ZVBicnBxSjhxQkdZMmNvOVpCU2pmcEF3Yjg0Tzc0NWZ4UmQwUG41ZmUzaCIsImp0aSI6IjAzODI2MDE1YjQ2MWI5NTAxZDgxYWJlYzA1NDM3MjMzMjk3NDE1NTVhNzhjNTdlMzM0ZWI3YjE5ZmQwYjY4MjRiZWMxYjJiNjVmOGU5MzA2IiwiaWF0IjoxNjE0NjE1MjM5LCJuYmYiOjE2MTQ2MTUyMzksImV4cCI6MTYxNDYxODgzOSwic3ViIjoiIiwic2NvcGVzIjpbXX0.ADjSopOi8vips-P80A00-HVJRFYYV69avXSkf3cNGpU1xfvQhSpWjK2T6qXDR2xcr9_uQDyHDaJ_jGOjsBvY5jSxofwF2VXKykzYbveGmR4Lu1f2S4Y9nlPWul0bfXxk-t0hF0t1LZdbZmftZOz_1jma4fUDiEgMwX2gf6yhJOlaWiJPTR85OTUm-2-N2JU1HMyuji2nl0cIz5-p7w_ZZx4MTk2EW-7LKdTn1iWisQ19I5JzdXedejliZq3KW30e1bLWuSAh54vZnjjSiwUPrFlOMDPOzrOYiIZdNM0h6-WWlgth5ldqk1OvoRBVla2_cDrLdPMbkimzVSWWJlFOOQ"}'
  recorded_at: Mon, 01 Mar 2021 16:13:55 GMT
- request:
    method: get
    uri: https://api.petfinder.com/v2/animals?coat=medium,short
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJhdWQiOiJ0dG5JTTZ2ZVBicnBxSjhxQkdZMmNvOVpCU2pmcEF3Yjg0Tzc0NWZ4UmQwUG41ZmUzaCIsImp0aSI6IjAzODI2MDE1YjQ2MWI5NTAxZDgxYWJlYzA1NDM3MjMzMjk3NDE1NTVhNzhjNTdlMzM0ZWI3YjE5ZmQwYjY4MjRiZWMxYjJiNjVmOGU5MzA2IiwiaWF0IjoxNjE0NjE1MjM5LCJuYmYiOjE2MTQ2MTUyMzksImV4cCI6MTYxNDYxODgzOSwic3ViIjoiIiwic2NvcGVzIjpbXX0.ADjSopOi8vips-P80A00-HVJRFYYV69avXSkf3cNGpU1xfvQhSpWjK2T6qXDR2xcr9_uQDyHDaJ_jGOjsBvY5jSxofwF2VXKykzYbveGmR4Lu1f2S4Y9nlPWul0bfXxk-t0hF0t1LZdbZmftZOz_1jma4fUDiEgMwX2gf6yhJOlaWiJPTR85OTUm-2-N2JU1HMyuji2nl0cIz5-p7w_ZZx4MTk2EW-7LKdTn1iWisQ19I5JzdXedejliZq3KW30e1bLWuSAh54vZnjjSiwUPrFlOMDPOzrOYiIZdNM0h6-WWlgth5ldqk1OvoRBVla2_cDrLdPMbkimzVSWWJlFOOQ
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - c1efc768-6974-4f5b-a4b7-7879d23b811a
      X-Amzn-Remapped-Content-Length:
      - '7045'
      X-Amzn-Remapped-Connection:
      - keep-alive
      X-Amz-Apigw-Id:
      - bg_fLGu2IAMF4Fw=
      X-Amzn-Remapped-Date:
      - Mon, 01 Mar 2021 16:13:59 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"animals":[{"id":50697090,"organization_id":"FL1026","url":"https:\/\/www.petfinder.com\/dog\/ruby-50697090\/fl\/tavares\/a-forever-home-animal-rescue-inc-fl1026\/?referrer_id=7a08eea9-3a78-4961-9dee-b60fab4c2090","type":"Dog","species":"Dog","breeds":{"primary":"Chihuahua","secondary":null,"mixed":true,"unknown":false},"colors":{"primary":"Black","secondary":"Brown
        \/ Chocolate","tertiary":null},"age":"Senior","gender":"Female","size":"Small","coat":"Short","attributes":{"spayed_neutered":true,"house_trained":true,"declawed":null,"special_needs":false,"shots_current":true},"environment":{"children":true,"dogs":true,"cats":null},"tags":[],"name":"Ruby","description":"Ruby
        is a 14 year old chihuahua mix weighing 14 pounds. Ruby is more shy and laid
        back. She came...","organization_animal_id":null,"photos":[{"small":"https:\/\/dl5zpyw5k3jeb.cloudfront.net\/photos\/pets\/50697090\/2\/?bust=1614615180\u0026width=100","medium":"https:\/\/dl5zpyw5k3jeb.cloudfront.net\/photos\/pets\/50697090\/2\/?bust=1614615180\u0026width=300","large":"https:\/\/dl5zpyw5k3jeb.cloudfront.net\/photos\/pets\/50697090\/2\/?bust=1614615180\u0026width=600","full":"https:\/\/dl5zpyw5k3jeb.cloudfront.net\/photos\/pets\/50697090\/2\/?bust=1614615180"},{"small":"https:\/\/dl5zpyw5k3jeb.cloudfront.net\/photos\/pets\/50697090\/1\/?bust=1614615175\u0026width=100","medium":"https:\/\/dl5zpyw5k3jeb.cloudfront.net\/photos\/pets\/50697090\/1\/?bust=1614615175\u0026width=300","large":"https:\/\/dl5zpyw5k3jeb.cloudfront.net\/photos\/pets\/50697090\/1\/?bust=1614615175\u0026width=600","full":"https:\/\/dl5zpyw5k3jeb.cloudfront.net\/photos\/pets\/50697090\/1\/?bust=1614615175"}],"primary_photo_cropped":{"small":"https:\/\/dl5zpyw5k3jeb.cloudfront.net\/photos\/pets\/50697090\/2\/?bust=1614615180\u0026width=300","medium":"https:\/\/dl5zpyw5k3jeb.cloudfront.net\/photos\/pets\/50697090\/2\/?bust=1614615180\u0026width=450","large":"https:\/\/dl5zpyw5k3jeb.cloudfront.net\/photos\/pets\/50697090\/2\/?bust=1614615180\u0026width=600","full":"https:\/\/dl5zpyw5k3jeb.cloudfront.net\/photos\/pets\/50697090\/2\/?bust=1614615180"},"videos":[],"status":"adoptable","status_changed_at":"2021-03-01T16:13:20+0000","published_at":"2021-03-01T16:13:20+0000","distance":null,"contact":{"email":"shelter-FL1026@petfinder.com","phone":null,"address":{"address1":"2950
        CR 561","address2":null,"city":"Tavares","state":"FL","postcode":"32778","country":"US"}},"_links":{"self":{"href":"\/v2\/animals\/50697090"},"type":{"href":"\/v2\/types\/dog"},"organization":{"href":"\/v2\/organizations\/fl1026"}}},{"id":50696979,"organization_id":"WA658","url":"https:\/\/www.petfinder.com\/dog\/king-50696979\/wa\/tacoma\/lucky-paws-rescue-wa658\/?referrer_id=7a08eea9-3a78-4961-9dee-b60fab4c2090","type":"Dog","species":"Dog","breeds":{"primary":"Pit
        Bull Terrier","secondary":"Labrador Retriever","mixed":true,"unknown":false},"colors":{"primary":"White
        \/ Cream","secondary":null,"tertiary":null},"age":"Senior","gender":"Male","size":"Large","coat":"Sh[...]
