---
http_interactions:
- request:
    method: post
    uri: https://api.petfinder.com/v2/oauth2/token
    body:
      encoding: UTF-8
      string: client_id=<CLIENT_ID>&client_secret=<CLIENT_SECRET>&grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Amzn-Requestid:
      - 5849bacd-85a5-4c34-b785-a3644e77c6eb
      X-Amzn-Remapped-Connection:
      - keep-alive
      X-Amz-Apigw-Id:
      - GyyktGWQIAMFXQQ=
      X-Amzn-Remapped-Date:
      - Wed, 06 Oct 2021 16:12:26 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"token_type":"Bearer","expires_in":3600,"access_token":"eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJhdWQiOiI2clFzcHIzTng1NjloM1hrR3V4aUJobFNlRUFCUkxxSFVNeEc5bmdaQ2hLTzQ1SFcwYSIsImp0aSI6IjBmOTc0ODNlMDJkYmZjY2RkM2UxZDBjODg4MzMxYjk5MDcyY2JhYmIyZTYwN2U2Mjc2ZWMzOGQzN2U4NzE0NWFiZDQ3ODdjYjYxNjViNjM5IiwiaWF0IjoxNjMzNTM2NzQ2LCJuYmYiOjE2MzM1MzY3NDYsImV4cCI6MTYzMzU0MDM0Niwic3ViIjoiIiwic2NvcGVzIjpbXX0.jkN64IlaGx5N8Oj4ATnZ0GC-1u96TD31PYXdWSDdMhSPpTyH9rQJIwcR7k0cR9fNOhsF0vGhwB6_HgKx3S-qohM2C8Wf92acyHvqxBZ2V6xY_izC56igRy8wflXNvyJnKgysbauKxMBP9tcq1lbL6vxlaOLw91SWOmRiu66ECkOgbhKeP61xWdy1wcbZJ9AKln3I5N7aDdcw93_J3j8ZZIUMj_Ua43wmfSpK1tb5Db3eS3lMgM2uFpoofGTJoQytATH_wesGFGK7ZnEMP3BpugOvVPvPR80kn_gYTko6g9RQpK1AzMndmiOkfQL1L4g7H19Td8kBtqq-juAa5N-_qw"}'
  recorded_at: Wed, 06 Oct 2021 16:12:26 GMT
- request:
    method: get
    uri: https://api.petfinder.com/v2/animals?size=medium,large
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJhdWQiOiI2clFzcHIzTng1NjloM1hrR3V4aUJobFNlRUFCUkxxSFVNeEc5bmdaQ2hLTzQ1SFcwYSIsImp0aSI6IjBmOTc0ODNlMDJkYmZjY2RkM2UxZDBjODg4MzMxYjk5MDcyY2JhYmIyZTYwN2U2Mjc2ZWMzOGQzN2U4NzE0NWFiZDQ3ODdjYjYxNjViNjM5IiwiaWF0IjoxNjMzNTM2NzQ2LCJuYmYiOjE2MzM1MzY3NDYsImV4cCI6MTYzMzU0MDM0Niwic3ViIjoiIiwic2NvcGVzIjpbXX0.jkN64IlaGx5N8Oj4ATnZ0GC-1u96TD31PYXdWSDdMhSPpTyH9rQJIwcR7k0cR9fNOhsF0vGhwB6_HgKx3S-qohM2C8Wf92acyHvqxBZ2V6xY_izC56igRy8wflXNvyJnKgysbauKxMBP9tcq1lbL6vxlaOLw91SWOmRiu66ECkOgbhKeP61xWdy1wcbZJ9AKln3I5N7aDdcw93_J3j8ZZIUMj_Ua43wmfSpK1tb5Db3eS3lMgM2uFpoofGTJoQytATH_wesGFGK7ZnEMP3BpugOvVPvPR80kn_gYTko6g9RQpK1AzMndmiOkfQL1L4g7H19Td8kBtqq-juAa5N-_qw
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - bde0cd61-5fea-41d1-9774-2b804ad9ca90
      X-Amzn-Remapped-Connection:
      - keep-alive
      X-Amz-Apigw-Id:
      - GyykyFVfoAMFg5w=
      X-Amzn-Remapped-Date:
      - Wed, 06 Oct 2021 16:12:27 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"animals":[{"id":53186193,"organization_id":"OH175","url":"https:\/\/www.petfinder.com\/dog\/hanna-h6-hold-53186193\/oh\/canton\/stark-county-sheriff-office-dog-warden-division-oh175\/?referrer_id=60ac3753-b0b6-4ee4-a1f2-d28369ed697f","type":"Dog","species":"Dog","breeds":{"primary":"Pit
        Bull Terrier","secondary":null,"mixed":false,"unknown":false},"colors":{"primary":"Brindle","secondary":null,"tertiary":null},"age":"Young","gender":"Female","size":"Medium","coat":null,"attributes":{"spayed_neutered":false,"house_trained":false,"declawed":null,"special_needs":false,"shots_current":true},"environment":{"children":null,"dogs":null,"cats":null},"tags":[],"name":"Hanna
        H6-HOLD","description":null,"organization_animal_id":null,"photos":[{"small":"https:\/\/dl5zpyw5k3jeb.cloudfront.net\/photos\/pets\/53186193\/1\/?bust=1633536739\u0026width=100","medium":"https:\/\/dl5zpyw5k3jeb.cloudfront.net\/photos\/pets\/53186193\/1\/?bust=1633536739\u0026width=300","large":"https:\/\/dl5zpyw5k3jeb.cloudfront.net\/photos\/pets\/53186193\/1\/?bust=1633536739\u0026width=600","full":"https:\/\/dl5zpyw5k3jeb.cloudfront.net\/photos\/pets\/53186193\/1\/?bust=1633536739"}],"primary_photo_cropped":{"small":"https:\/\/dl5zpyw5k3jeb.cloudfront.net\/photos\/pets\/53186193\/1\/?bust=1633536739\u0026width=300","medium":"https:\/\/dl5zpyw5k3jeb.cloudfront.net\/photos\/pets\/53186193\/1\/?bust=1633536739\u0026width=450","large":"https:\/\/dl5zpyw5k3jeb.cloudfront.net\/photos\/pets\/53186193\/1\/?bust=1633536739\u0026width=600","full":"https:\/\/dl5zpyw5k3jeb.cloudfront.net\/photos\/pets\/53186193\/1\/?bust=1633536739"},"videos":[],"status":"adoptable","status_changed_at":"2021-10-06T16:12:21+0000","published_at":"2021-10-06T16:12:21+0000","distance":null,"contact":{"email":null,"phone":"(330)
        451-2343","address":{"address1":"1801 Mahoning Road NE","address2":null,"city":"Canton","state":"OH","postcode":"44705","country":"US"}},"_links":{"self":{"href":"\/v2\/animals\/53186193"},"type":{"href":"\/v2\/types\/dog"},"organization":{"href":"\/v2\/organizations\/oh175"}}},{"id":53186192,"organization_id":"MI730","url":"https:\/\/www.petfinder.com\/dog\/baby-liberty-53186192\/mi\/utica\/making-miracles-animal-rescue-aka-sanilac-scoopers-mi730\/?referrer_id=60ac3753-b0b6-4ee4-a1f2-d28369ed697f","type":"Dog","species":"Dog","breeds":{"primary":"Aussiedoodle","secondary":null,"mixed":true,"unknown":false},"colors":{"primary":null,"secondary":null,"tertiary":null},"age":"Baby","gender":"Female","size":"Medium","coat":null,"attri[...]
