---
http_interactions:
- request:
    method: post
    uri: https://api.petfinder.com/v2/oauth2/token
    body:
      encoding: UTF-8
      string: client_id=<CLIENT_ID>&client_secret=<CLIENT_SECRET>&grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Amzn-Requestid:
      - ad19df1c-6121-4e2a-8888-13fda2dcfa5a
      X-Amzn-Remapped-Connection:
      - keep-alive
      X-Amz-Apigw-Id:
      - GyylhELYoAMFa1g=
      X-Amzn-Remapped-Date:
      - Wed, 06 Oct 2021 16:12:32 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"token_type":"Bearer","expires_in":3600,"access_token":"eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJhdWQiOiI2clFzcHIzTng1NjloM1hrR3V4aUJobFNlRUFCUkxxSFVNeEc5bmdaQ2hLTzQ1SFcwYSIsImp0aSI6IjVjZDM4NmJjNDVlMDU2MmZiMGU3Y2RmMTIwOWY2MWE4ODE2MTZhNzgxM2FlOGYzMDQ3OTJlZTk3NmNjNDI2ZjNhZTQyYjQ4N2Q0YTAyMGJkIiwiaWF0IjoxNjMzNTM2NzUyLCJuYmYiOjE2MzM1MzY3NTIsImV4cCI6MTYzMzU0MDM1Miwic3ViIjoiIiwic2NvcGVzIjpbXX0.Va6H089EVWZdr6m_ZiU1m75a9tmdGxnhZkrF62fUAOq54Zd-qHANzXglfa_j9YBTaxNmbI-TqXR8DI65nhYcHdq97Fe61dIYU09A1VJnub3woz6ROtNxsD3JmrhAKzWcJ2z7N16sd_iyubBmsE114Ycp7unf7HjLyTozHG86sDrWzYJUbi-equ_TeQosyJfPtU-yGhI8O1jvMzuv_iPCEjFVXe1R7J4MBeXaXgol6jiRsQ7TacsDZ-bWL20iRWDSmZFBz0PQpzmED6LmylXk344Q4Ia9DKdMXLg41eQpSCekbChRY5440BRBuZUc67DtsO637Hy1XbdfaHTa3b7Z0A"}'
  recorded_at: Wed, 06 Oct 2021 16:12:31 GMT
- request:
    method: get
    uri: https://api.petfinder.com/v2/animals?age=senior
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJhdWQiOiI2clFzcHIzTng1NjloM1hrR3V4aUJobFNlRUFCUkxxSFVNeEc5bmdaQ2hLTzQ1SFcwYSIsImp0aSI6IjVjZDM4NmJjNDVlMDU2MmZiMGU3Y2RmMTIwOWY2MWE4ODE2MTZhNzgxM2FlOGYzMDQ3OTJlZTk3NmNjNDI2ZjNhZTQyYjQ4N2Q0YTAyMGJkIiwiaWF0IjoxNjMzNTM2NzUyLCJuYmYiOjE2MzM1MzY3NTIsImV4cCI6MTYzMzU0MDM1Miwic3ViIjoiIiwic2NvcGVzIjpbXX0.Va6H089EVWZdr6m_ZiU1m75a9tmdGxnhZkrF62fUAOq54Zd-qHANzXglfa_j9YBTaxNmbI-TqXR8DI65nhYcHdq97Fe61dIYU09A1VJnub3woz6ROtNxsD3JmrhAKzWcJ2z7N16sd_iyubBmsE114Ycp7unf7HjLyTozHG86sDrWzYJUbi-equ_TeQosyJfPtU-yGhI8O1jvMzuv_iPCEjFVXe1R7J4MBeXaXgol6jiRsQ7TacsDZ-bWL20iRWDSmZFBz0PQpzmED6LmylXk344Q4Ia9DKdMXLg41eQpSCekbChRY5440BRBuZUc67DtsO637Hy1XbdfaHTa3b7Z0A
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - b0d4a39f-54a8-41a8-825c-6f8b45144eec
      X-Amzn-Remapped-Connection:
      - keep-alive
      X-Amz-Apigw-Id:
      - GyyllESaIAMFuRQ=
      X-Amzn-Remapped-Date:
      - Wed, 06 Oct 2021 16:12:32 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"animals":[{"id":53186146,"organization_id":"CT612","url":"https:\/\/www.petfinder.com\/dog\/ripley-53186146\/ct\/groton\/monas-house-animal-rescue-ct612\/?referrer_id=60ac3753-b0b6-4ee4-a1f2-d28369ed697f","type":"Dog","species":"Dog","breeds":{"primary":"Mixed
        Breed","secondary":null,"mixed":false,"unknown":false},"colors":{"primary":"Brindle","secondary":"White
        \/ Cream","tertiary":null},"age":"Senior","gender":"Female","size":"Large","coat":"Short","attributes":{"spayed_neutered":true,"house_trained":true,"declawed":null,"special_needs":true,"shots_current":true},"environment":{"children":true,"dogs":true,"cats":true},"tags":["Friendly","Affectionate","Gentle","Couch
        potato"],"name":"Ripley","description":"Ripley is a 10-11 year old 50 pound
        mixed breed.  She is deaf but knows sign language commands and is...","organization_animal_id":null,"photos":[{"small":"https:\/\/dl5zpyw5k3jeb.cloudfront.net\/photos\/pets\/53186146\/1\/?bust=1633535732\u0026width=100","medium":"https:\/\/dl5zpyw5k3jeb.cloudfront.net\/photos\/pets\/53186146\/1\/?bust=1633535732\u0026width=300","large":"https:\/\/dl5zpyw5k3jeb.cloudfront.net\/photos\/pets\/53186146\/1\/?bust=1633535732\u0026width=600","full":"https:\/\/dl5zpyw5k3jeb.cloudfront.net\/photos\/pets\/53186146\/1\/?bust=1633535732"},{"small":"https:\/\/dl5zpyw5k3jeb.cloudfront.net\/photos\/pets\/53186146\/2\/?bust=1633535733\u0026width=100","medium":"https:\/\/dl5zpyw5k3jeb.cloudfront.net\/photos\/pets\/53186146\/2\/?bust=1633535733\u0026width=300","large":"https:\/\/dl5zpyw5k3jeb.cloudfront.net\/photos\/pets\/53186146\/2\/?bust=1633535733\u0026width=600","full":"https:\/\/dl5zpyw5k3jeb.cloudfront.net\/photos\/pets\/53186146\/2\/?bust=1633535733"},{"small":"https:\/\/dl5zpyw5k3jeb.cloudfront.net\/photos\/pets\/53186146\/3\/?bust=1633535733\u0026width=100","medium":"https:\/\/dl5zpyw5k3jeb.cloudfront.net\/photos\/pets\/53186146\/3\/?bust=1633535733\u0026width=300","large":"https:\/\/dl5zpyw5k3jeb.cloudfront.net\/photos\/pets\/53186146\/3\/?bust=1633535733\u0026width=600","full":"https:\/\/dl5zpyw5k3jeb.cloudfront.net\/photos\/pets\/53186146\/3\/?bust=1633535733"}],"primary_photo_cropped":{"small":"https:\/\/dl5zpyw5k3jeb.cloudfront.net\/photos\/pets\/53186146\/1\/?bust=1633535732\u0026width=300","medium":"https:\/\/dl5zpyw5k3jeb.cloudfront.net\/photos\/pets\/53186146\/1\/?bust=1633535732\u0026width=450","large":"https:\/\/dl5zpyw5k3jeb.cloudfront.net\/photos\/pets\/53186146\/1\/?bust=1633535732\u0026width=600","full":"https:\/\/dl5zpyw5k3jeb.cloudfront.net\/photos\/pets\/53186146\/1\/?bust=1633535732"},"videos":[],"status":"adoptable","status_changed_at":"2021-10-06T15:55:35+0000","published_at":"2021-10-06T15:55:35+0000","distance":null,"contact":{"email":"elena.rogan.cecil@gmail.com","phone":"(860)
        857-2270","address":{"address1":null,"address2":null,"city":"Groton","state":"CT","postcode":"06340","country":"US"}},"_links":{"self":{"href":"\/v2\/animals\/53186146"},"type":{"href":"\/v2\/types\/dog"},"organization":{"href":"\/v2\/organizations\/ct612"}}},{"id":53186124,"organization_id":"CT612","url":"https:\/\/www.petfinder.com\/dog\/lady-bug-53186124\/ct\/groton\/monas-house-animal-rescue-ct612\/?referrer_id=60ac3753-b0b6-4ee4-a1f2-d28369ed697f","type":"Dog","species":"Dog","breeds":{"primary":"Collie","secondary":null,"mixed":true,"unknown":false},"colors":{"primary":"Black","secondary":"Yellow
        \/ Tan \/ Blond \/ Fawn","tertiary":null},"age":"Senior","gender":"Female","size":"Large","coat":"Medi[...]
