---
http_interactions:
- request:
    method: post
    uri: https://api.petfinder.com/v2/oauth2/token
    body:
      encoding: UTF-8
      string: client_id=<CLIENT_ID>&client_secret=<CLIENT_SECRET>&grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Amzn-Requestid:
      - 7e69b8f5-f7ff-40e0-bfa3-ff2a87124daa
      X-Amzn-Remapped-Content-Length:
      - '605'
      X-Amzn-Remapped-Connection:
      - keep-alive
      X-Amz-Apigw-Id:
      - bg_edEMLoAMFVAQ=
      X-Amzn-Remapped-Date:
      - Mon, 01 Mar 2021 16:13:54 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"token_type":"Bearer","expires_in":3600,"access_token":"eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJhdWQiOiJ0dG5JTTZ2ZVBicnBxSjhxQkdZMmNvOVpCU2pmcEF3Yjg0Tzc0NWZ4UmQwUG41ZmUzaCIsImp0aSI6ImRmMzE1YzYwYWE3MTc3NjVmMDkxNTgwOTVmOTg3NjlhNTBkODQ3MDRhNTY1MjBkYjBhMmNjZDA4ZmJkNWYwZDE5N2M5ZmM0YmQ2ZjIxZTNiIiwiaWF0IjoxNjE0NjE1MjM0LCJuYmYiOjE2MTQ2MTUyMzQsImV4cCI6MTYxNDYxODgzNCwic3ViIjoiIiwic2NvcGVzIjpbXX0.uPZFvSuXFv_b5nNEquVX5LPeulm5j8tarxbTp3xHMGHbl4jsmwYDXe7fdjUftHo2YhivquQ1D5cbUbsDdg7Bnq-J-fTtU2mfsuTmjx9KSO_jGhbWAQhgkD5sB9GDwIF97icsJpMI3TsPB9zy7-lxhHWoIvGVBiVvMnk_8_6axUodmlXcrPwwhWECyEgCWgT956DzuYY9QAKc7I1v-xThoPSzDMv7CEw49ZDTOdGxa0QBvmepLUBWXJcDdk5astjKComCPFqsTH2UY1iZHhNSdWH2jmLyK-W4MD6Ff2Mx4wFO-lKAiwDasam72RPqzQ4Px2PFDGPq9q-NYOlD0_UuCQ"}'
  recorded_at: Mon, 01 Mar 2021 16:13:51 GMT
- request:
    method: get
    uri: https://api.petfinder.com/v2/animals?age=senior
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJhdWQiOiJ0dG5JTTZ2ZVBicnBxSjhxQkdZMmNvOVpCU2pmcEF3Yjg0Tzc0NWZ4UmQwUG41ZmUzaCIsImp0aSI6ImRmMzE1YzYwYWE3MTc3NjVmMDkxNTgwOTVmOTg3NjlhNTBkODQ3MDRhNTY1MjBkYjBhMmNjZDA4ZmJkNWYwZDE5N2M5ZmM0YmQ2ZjIxZTNiIiwiaWF0IjoxNjE0NjE1MjM0LCJuYmYiOjE2MTQ2MTUyMzQsImV4cCI6MTYxNDYxODgzNCwic3ViIjoiIiwic2NvcGVzIjpbXX0.uPZFvSuXFv_b5nNEquVX5LPeulm5j8tarxbTp3xHMGHbl4jsmwYDXe7fdjUftHo2YhivquQ1D5cbUbsDdg7Bnq-J-fTtU2mfsuTmjx9KSO_jGhbWAQhgkD5sB9GDwIF97icsJpMI3TsPB9zy7-lxhHWoIvGVBiVvMnk_8_6axUodmlXcrPwwhWECyEgCWgT956DzuYY9QAKc7I1v-xThoPSzDMv7CEw49ZDTOdGxa0QBvmepLUBWXJcDdk5astjKComCPFqsTH2UY1iZHhNSdWH2jmLyK-W4MD6Ff2Mx4wFO-lKAiwDasam72RPqzQ4Px2PFDGPq9q-NYOlD0_UuCQ
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - c1d9de03-4a98-40fe-8733-10fffcf98136
      X-Amzn-Remapped-Content-Length:
      - '6009'
      X-Amzn-Remapped-Connection:
      - keep-alive
      X-Amz-Apigw-Id:
      - bg_ekHchIAMF7Tw=
      X-Amzn-Remapped-Date:
      - Mon, 01 Mar 2021 16:13:56 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"animals":[{"id":50697090,"organization_id":"FL1026","url":"https:\/\/www.petfinder.com\/dog\/ruby-50697090\/fl\/tavares\/a-forever-home-animal-rescue-inc-fl1026\/?referrer_id=7a08eea9-3a78-4961-9dee-b60fab4c2090","type":"Dog","species":"Dog","breeds":{"primary":"Chihuahua","secondary":null,"mixed":true,"unknown":false},"colors":{"primary":"Black","secondary":"Brown
        \/ Chocolate","tertiary":null},"age":"Senior","gender":"Female","size":"Small","coat":"Short","attributes":{"spayed_neutered":true,"house_trained":true,"declawed":null,"special_needs":false,"shots_current":true},"environment":{"children":true,"dogs":true,"cats":null},"tags":[],"name":"Ruby","description":"Ruby
        is a 14 year old chihuahua mix weighing 14 pounds. Ruby is more shy and laid
        back. She came...","organization_animal_id":null,"photos":[{"small":"https:\/\/dl5zpyw5k3jeb.cloudfront.net\/photos\/pets\/50697090\/2\/?bust=1614615180\u0026width=100","medium":"https:\/\/dl5zpyw5k3jeb.cloudfront.net\/photos\/pets\/50697090\/2\/?bust=1614615180\u0026width=300","large":"https:\/\/dl5zpyw5k3jeb.cloudfront.net\/photos\/pets\/50697090\/2\/?bust=1614615180\u0026width=600","full":"https:\/\/dl5zpyw5k3jeb.cloudfront.net\/photos\/pets\/50697090\/2\/?bust=1614615180"},{"small":"https:\/\/dl5zpyw5k3jeb.cloudfront.net\/photos\/pets\/50697090\/1\/?bust=1614615175\u0026width=100","medium":"https:\/\/dl5zpyw5k3jeb.cloudfront.net\/photos\/pets\/50697090\/1\/?bust=1614615175\u0026width=300","large":"https:\/\/dl5zpyw5k3jeb.cloudfront.net\/photos\/pets\/50697090\/1\/?bust=1614615175\u0026width=600","full":"https:\/\/dl5zpyw5k3jeb.cloudfront.net\/photos\/pets\/50697090\/1\/?bust=1614615175"}],"primary_photo_cropped":{"small":"https:\/\/dl5zpyw5k3jeb.cloudfront.net\/photos\/pets\/50697090\/2\/?bust=1614615180\u0026width=300","medium":"https:\/\/dl5zpyw5k3jeb.cloudfront.net\/photos\/pets\/50697090\/2\/?bust=1614615180\u0026width=450","large":"https:\/\/dl5zpyw5k3jeb.cloudfront.net\/photos\/pets\/50697090\/2\/?bust=1614615180\u0026width=600","full":"https:\/\/dl5zpyw5k3jeb.cloudfront.net\/photos\/pets\/50697090\/2\/?bust=1614615180"},"videos":[],"status":"adoptable","status_changed_at":"2021-03-01T16:13:20+0000","published_at":"2021-03-01T16:13:20+0000","distance":null,"contact":{"email":"shelter-FL1026@petfinder.com","phone":null,"address":{"address1":"2950
        CR 561","address2":null,"city":"Tavares","state":"FL","postcode":"32778","country":"US"}},"_links":{"self":{"href":"\/v2\/animals\/50697090"},"type":{"href":"\/v2\/types\/dog"},"organization":{"href":"\/v2\/organizations\/fl1026"}}},{"id":50696979,"organization_id":"WA658","url":"https:\/\/www.petfinder.com\/dog\/king-50696979\/wa\/tacoma\/lucky-paws-rescue-wa658\/?referrer_id=7a08eea9-3a78-4961-9dee-b60fab4c2090","type":"Dog","species":"Dog","breeds":{"primary":"Pit
        Bull Terrier","secondary":"Labrador Retriever","mixed":true,"unknown":false},"colors":{"primary":"White
        \/ Cream","secondary":null,"tertiary":null},"age":"Senior","gender":"Male","size":"Large","coat":"Sh[...]
