---
http_interactions:
- request:
    method: post
    uri: https://api.petfinder.com/v2/oauth2/token
    body:
      encoding: UTF-8
      string: client_id=<CLIENT_ID>&client_secret=<CLIENT_SECRET>&grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Amzn-Requestid:
      - 7d663b77-c383-4dfb-a2e2-12dbf8569d4b
      X-Amzn-Remapped-Content-Length:
      - '606'
      X-Amzn-Remapped-Connection:
      - keep-alive
      X-Amz-Apigw-Id:
      - bg_dRHdTIAMFtFQ=
      X-Amzn-Remapped-Date:
      - Mon, 01 Mar 2021 16:13:47 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"token_type":"Bearer","expires_in":3600,"access_token":"eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJhdWQiOiJ0dG5JTTZ2ZVBicnBxSjhxQkdZMmNvOVpCU2pmcEF3Yjg0Tzc0NWZ4UmQwUG41ZmUzaCIsImp0aSI6IjgwZTBkNDVkMDVhNWMzMTNkZmE0Y2Q2NzM4NDg5Njk2ODhkMzQ3Nzk0YmIzYTQ1YTBlNzVlZDk2YzUyYTgyNzVjOTkwNzE3MTUwYTc1ZDdhIiwiaWF0IjoxNjE0NjE1MjI3LCJuYmYiOjE2MTQ2MTUyMjcsImV4cCI6MTYxNDYxODgyNywic3ViIjoiIiwic2NvcGVzIjpbXX0.lnplMUsOCqHeOl0kGEoAajLISXjmtGGZ8KKbYAXHmEjEJtJQOFarO5YdB7QxzKqsse0t1zEyVHzbvGC7rCddlERD6efTSc-i-qZgj-KielIfet9GbDgNPfCTHXLzlAjXDAK6wIYCYjEt7PiPB8eUb-NIR_oI4JdOmWVbuUadxmAjvZeOqaFYynu8acZc1k8XWVDvH7MTS6EK7jzpu_Ve_TLgAHZmI202ez43tJXqx6G41o68SR0-ukQTvN5rVWQyC8VOcNaNPvlnSmgp2FRimN3EuY8LTRu--VJEA2luahAeq1WSpQ_-YalKeN_QgH4ZCvapZnYgPqqF9pdo77O9gQ"}'
  recorded_at: Mon, 01 Mar 2021 16:13:43 GMT
- request:
    method: get
    uri: https://api.petfinder.com/v2/animals?size=small
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJhdWQiOiJ0dG5JTTZ2ZVBicnBxSjhxQkdZMmNvOVpCU2pmcEF3Yjg0Tzc0NWZ4UmQwUG41ZmUzaCIsImp0aSI6IjgwZTBkNDVkMDVhNWMzMTNkZmE0Y2Q2NzM4NDg5Njk2ODhkMzQ3Nzk0YmIzYTQ1YTBlNzVlZDk2YzUyYTgyNzVjOTkwNzE3MTUwYTc1ZDdhIiwiaWF0IjoxNjE0NjE1MjI3LCJuYmYiOjE2MTQ2MTUyMjcsImV4cCI6MTYxNDYxODgyNywic3ViIjoiIiwic2NvcGVzIjpbXX0.lnplMUsOCqHeOl0kGEoAajLISXjmtGGZ8KKbYAXHmEjEJtJQOFarO5YdB7QxzKqsse0t1zEyVHzbvGC7rCddlERD6efTSc-i-qZgj-KielIfet9GbDgNPfCTHXLzlAjXDAK6wIYCYjEt7PiPB8eUb-NIR_oI4JdOmWVbuUadxmAjvZeOqaFYynu8acZc1k8XWVDvH7MTS6EK7jzpu_Ve_TLgAHZmI202ez43tJXqx6G41o68SR0-ukQTvN5rVWQyC8VOcNaNPvlnSmgp2FRimN3EuY8LTRu--VJEA2luahAeq1WSpQ_-YalKeN_QgH4ZCvapZnYgPqqF9pdo77O9gQ
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - 6dfb9de6-6859-4a27-ab46-764ffd7de5ce
      X-Amzn-Remapped-Content-Length:
      - '3195'
      X-Amzn-Remapped-Connection:
      - keep-alive
      X-Amz-Apigw-Id:
      - bg_dXFiRIAMFXSQ=
      X-Amzn-Remapped-Date:
      - Mon, 01 Mar 2021 16:13:48 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"animals":[{"id":50697090,"organization_id":"FL1026","url":"https:\/\/www.petfinder.com\/dog\/ruby-50697090\/fl\/tavares\/a-forever-home-animal-rescue-inc-fl1026\/?referrer_id=7a08eea9-3a78-4961-9dee-b60fab4c2090","type":"Dog","species":"Dog","breeds":{"primary":"Chihuahua","secondary":null,"mixed":true,"unknown":false},"colors":{"primary":"Black","secondary":"Brown
        \/ Chocolate","tertiary":null},"age":"Senior","gender":"Female","size":"Small","coat":"Short","attributes":{"spayed_neutered":true,"house_trained":true,"declawed":null,"special_needs":false,"shots_current":true},"environment":{"children":true,"dogs":true,"cats":null},"tags":[],"name":"Ruby","description":"Ruby
        is a 14 year old chihuahua mix weighing 14 pounds. Ruby is more shy and laid
        back. She came...","organization_animal_id":null,"photos":[{"small":"https:\/\/dl5zpyw5k3jeb.cloudfront.net\/photos\/pets\/50697090\/2\/?bust=1614615180\u0026width=100","medium":"https:\/\/dl5zpyw5k3jeb.cloudfront.net\/photos\/pets\/50697090\/2\/?bust=1614615180\u0026width=300","large":"https:\/\/dl5zpyw5k3jeb.cloudfront.net\/photos\/pets\/50697090\/2\/?bust=1614615180\u0026width=600","full":"https:\/\/dl5zpyw5k3jeb.cloudfront.net\/photos\/pets\/50697090\/2\/?bust=1614615180"},{"small":"https:\/\/dl5zpyw5k3jeb.cloudfront.net\/photos\/pets\/50697090\/1\/?bust=1614615175\u0026width=100","medium":"https:\/\/dl5zpyw5k3jeb.cloudfront.net\/photos\/pets\/50697090\/1\/?bust=1614615175\u0026width=300","large":"https:\/\/dl5zpyw5k3jeb.cloudfront.net\/photos\/pets\/50697090\/1\/?bust=1614615175\u0026width=600","full":"https:\/\/dl5zpyw5k3jeb.cloudfront.net\/photos\/pets\/50697090\/1\/?bust=1614615175"}],"primary_photo_cropped":{"small":"https:\/\/dl5zpyw5k3jeb.cloudfront.net\/photos\/pets\/50697090\/2\/?bust=1614615180\u0026width=300","medium":"https:\/\/dl5zpyw5k3jeb.cloudfront.net\/photos\/pets\/50697090\/2\/?bust=1614615180\u0026width=450","large":"https:\/\/dl5zpyw5k3jeb.cloudfront.net\/photos\/pets\/50697090\/2\/?bust=1614615180\u0026width=600","full":"https:\/\/dl5zpyw5k3jeb.cloudfront.net\/photos\/pets\/50697090\/2\/?bust=1614615180"},"videos":[],"status":"adoptable","status_changed_at":"2021-03-01T16:13:20+0000","published_at":"2021-03-01T16:13:20+0000","distance":null,"contact":{"email":"shelter-FL1026@petfinder.com","phone":null,"address":{"address1":"2950
        CR 561","address2":null,"city":"Tavares","state":"FL","postcode":"32778","country":"US"}},"_links":{"self":{"href":"\/v2\/animals\/50697090"},"type":{"href":"\/v2\/types\/dog"},"organization":{"href":"\/v2\/organizations\/fl1026"}}},{"id":50696916,"organization_id":"NY1473","url":"https:\/\/www.petfinder.com\/dog\/matilda-50696916\/ny\/albany\/crazy-paws-dog-rescue-inc-ny1473\/?referrer_id=7a08eea9-3a78-4961-9dee-b60fab4c2090","type":"Dog","species":"Dog","breeds":{"primary":"Beagle","secondary":null,"mixed":false,"unknown":false},"colors":{"primary":"Tricolor
        (Brown, Black, \u0026 White)","secondary":null,"tertiary":null},"age":"Adult","gender":"Female","size":"Small","coat"[...]
