---
http_interactions:
- request:
    method: post
    uri: https://api.petfinder.com/v2/oauth2/token
    body:
      encoding: UTF-8
      string: client_id=<CLIENT_ID>&client_secret=<CLIENT_SECRET>&grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Amzn-Requestid:
      - 04616af9-c5d9-4aee-9084-47f01852eb14
      X-Amzn-Remapped-Connection:
      - keep-alive
      X-Amz-Apigw-Id:
      - GyylMF7BIAMF7ng=
      X-Amzn-Remapped-Date:
      - Wed, 06 Oct 2021 16:12:29 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"token_type":"Bearer","expires_in":3600,"access_token":"eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJhdWQiOiI2clFzcHIzTng1NjloM1hrR3V4aUJobFNlRUFCUkxxSFVNeEc5bmdaQ2hLTzQ1SFcwYSIsImp0aSI6IjFmYTZiM2Q1ZmUyNzhkZTM3ZjViZjJiYTlkOTNkNzE5YzdjYTExZTVkZjM1NDY2NDI3ODM4YWFhMDU4MzAwNjA1OGZiNDg4ZWM5NzNjNzYyIiwiaWF0IjoxNjMzNTM2NzQ5LCJuYmYiOjE2MzM1MzY3NDksImV4cCI6MTYzMzU0MDM0OSwic3ViIjoiIiwic2NvcGVzIjpbXX0.XbcC9O9VauiHkK_ELSEkV-2FtctqKMH2mE6Qp_tA4sI2YpmdE1eabcs2V_nbB4eXg8u8L0lq1UGrn3ZTtW8enHXax7yq_3YUrqwvWacR_Sp_L77nafOiUUM0dWYGVzRj6tsNU9uF2dtRIvQ_MTQgcFRM5DNt0BjWxdDTce9o2QvufzkoK_UaSP3m4svg4AWvdcoJEzetr0621K2TacbZlWNXMhv9Jw9tyJVv7tSllx7q7aTAwmk_N7mIgGPpvftUKx2o1WjXmdpvsPZv93J-nE4FolJZZXYgIxK_1JwyD9gCT0J7GwEU1M-zS08h_RgWdCgWQx6C3JbBi_pX7aaaYQ"}'
  recorded_at: Wed, 06 Oct 2021 16:12:29 GMT
- request:
    method: get
    uri: https://api.petfinder.com/v2/animals?gender=unknown
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJhdWQiOiI2clFzcHIzTng1NjloM1hrR3V4aUJobFNlRUFCUkxxSFVNeEc5bmdaQ2hLTzQ1SFcwYSIsImp0aSI6IjFmYTZiM2Q1ZmUyNzhkZTM3ZjViZjJiYTlkOTNkNzE5YzdjYTExZTVkZjM1NDY2NDI3ODM4YWFhMDU4MzAwNjA1OGZiNDg4ZWM5NzNjNzYyIiwiaWF0IjoxNjMzNTM2NzQ5LCJuYmYiOjE2MzM1MzY3NDksImV4cCI6MTYzMzU0MDM0OSwic3ViIjoiIiwic2NvcGVzIjpbXX0.XbcC9O9VauiHkK_ELSEkV-2FtctqKMH2mE6Qp_tA4sI2YpmdE1eabcs2V_nbB4eXg8u8L0lq1UGrn3ZTtW8enHXax7yq_3YUrqwvWacR_Sp_L77nafOiUUM0dWYGVzRj6tsNU9uF2dtRIvQ_MTQgcFRM5DNt0BjWxdDTce9o2QvufzkoK_UaSP3m4svg4AWvdcoJEzetr0621K2TacbZlWNXMhv9Jw9tyJVv7tSllx7q7aTAwmk_N7mIgGPpvftUKx2o1WjXmdpvsPZv93J-nE4FolJZZXYgIxK_1JwyD9gCT0J7GwEU1M-zS08h_RgWdCgWQx6C3JbBi_pX7aaaYQ
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - 7c6a514b-d3bb-4422-a56b-33497f0b9b7a
      X-Amzn-Remapped-Connection:
      - keep-alive
      X-Amz-Apigw-Id:
      - GyylPGGnoAMFS6g=
      X-Amzn-Remapped-Date:
      - Wed, 06 Oct 2021 16:12:30 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"animals":[{"id":53186017,"organization_id":"NC377","url":"https:\/\/www.petfinder.com\/bird\/welsh-harlequin-53186017\/nc\/indian-trail\/carolina-waterfowl-rescue-nc377\/?referrer_id=60ac3753-b0b6-4ee4-a1f2-d28369ed697f","type":"Bird","species":"Duck","breeds":{"primary":"Duck","secondary":null,"mixed":false,"unknown":false},"colors":{"primary":"Brown","secondary":"Buff","tertiary":"White"},"age":"Adult","gender":"Unknown","size":"Medium","coat":null,"attributes":{"spayed_neutered":false,"house_trained":false,"declawed":null,"special_needs":false,"shots_current":false},"environment":{"children":null,"dogs":null,"cats":null},"tags":[],"name":"Welsh
        Harlequin","description":"We have various Welsh Harlequin ducks, both male
        and female needing a forever home.","organization_animal_id":null,"photos":[{"small":"https:\/\/dl5zpyw5k3jeb.cloudfront.net\/photos\/pets\/53186017\/1\/?bust=1633532924\u0026width=100","medium":"https:\/\/dl5zpyw5k3jeb.cloudfront.net\/photos\/pets\/53186017\/1\/?bust=1633532924\u0026width=300","large":"https:\/\/dl5zpyw5k3jeb.cloudfront.net\/photos\/pets\/53186017\/1\/?bust=1633532924\u0026width=600","full":"https:\/\/dl5zpyw5k3jeb.cloudfront.net\/photos\/pets\/53186017\/1\/?bust=1633532924"}],"primary_photo_cropped":{"small":"https:\/\/dl5zpyw5k3jeb.cloudfront.net\/photos\/pets\/53186017\/1\/?bust=1633532924\u0026width=300","medium":"https:\/\/dl5zpyw5k3jeb.cloudfront.net\/photos\/pets\/53186017\/1\/?bust=1633532924\u0026width=450","large":"https:\/\/dl5zpyw5k3jeb.cloudfront.net\/photos\/pets\/53186017\/1\/?bust=1633532924\u0026width=600","full":"https:\/\/dl5zpyw5k3jeb.cloudfront.net\/photos\/pets\/53186017\/1\/?bust=1633532924"},"videos":[],"status":"adoptable","status_changed_at":"2021-10-06T15:08:45+0000","published_at":"2021-10-06T15:08:45+0000","distance":null,"contact":{"email":"adopt@cwrescue.org","phone":"704-668-9486
        ","address":{"address1":"PO Box 1484","address2":null,"city":"Indian Trail","state":"NC","postcode":"28079","country":"US"}},"_links":{"self":{"href":"\/v2\/animals\/53186017"},"type":{"href":"\/v2\/types\/bird"},"organization":{"href":"\/v2\/organizations\/nc377"}}},{"id":53186012,"organization_id":"NC377","url":"https:\/\/www.petfinder.com\/bird\/saxony-53186012\/nc\/indian-trail\/carolina-waterfowl-rescue-nc377\/?referrer_id=60ac3753-b0b6-4ee4-a1f2-d28369ed697f","type":"Bird","species":"Duck","breeds":{"primary":"Duck","secondary":null,"mixed":false,"unknown":false},"colors":{"primary":"Brown","secondary":"Buff","tertiary":"White"},"age":"Adult","gender":"Unknown","size":"Medium","coat":null,"attributes":{"spayed_ne[...]
