---
http_interactions:
- request:
    method: post
    uri: https://api.petfinder.com/v2/oauth2/token
    body:
      encoding: UTF-8
      string: client_id=<CLIENT_ID>&client_secret=<CLIENT_SECRET>&grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Amzn-Requestid:
      - a56e2012-c875-4369-b613-0aac4f8180cb
      X-Amzn-Remapped-Content-Length:
      - '601'
      X-Amzn-Remapped-Connection:
      - keep-alive
      X-Amz-Apigw-Id:
      - bg_e8E_woAMFoBw=
      X-Amzn-Remapped-Date:
      - Mon, 01 Mar 2021 16:13:58 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"token_type":"Bearer","expires_in":3600,"access_token":"eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJhdWQiOiJ0dG5JTTZ2ZVBicnBxSjhxQkdZMmNvOVpCU2pmcEF3Yjg0Tzc0NWZ4UmQwUG41ZmUzaCIsImp0aSI6Ijg2NWFkZTg4NjVhNWY2MzQ5MjQwOGZhZjJmMjdjMTcyNzg4ODlkODkwNjAwYWRlOTg2OTU0MjhlNzM4NjJhOGU3YjAzYzc2NzY5ZThmYzhiIiwiaWF0IjoxNjE0NjE1MjM4LCJuYmYiOjE2MTQ2MTUyMzgsImV4cCI6MTYxNDYxODgzOCwic3ViIjoiIiwic2NvcGVzIjpbXX0.m78EX2OrW0fXHhZcoLCz65_UILp3qicYRGsoszzl6widEwgDWjTDN3z1PlxNqwNwwcteHZa8SqHgkuSUsZvi1UCCAYtc8UtRbyBlauq0YUNZFeYSFRsipctvOLXYn6ZTx0L5-rGM6KYlcUmxH8-ftzxqnz6gBqnqCp-tor0tjrKzw9TzoZmrV-xo6sxxpGjadVBmoTiWYkRnehwSrz4pRGpXJYEYNVbqjG95FyWv03q9x2O59_lfJUP26XRuT0H3dz9t5dS1ezKqmD0rh3dEQ3Bkz2u6ujqA1q5OJgiVQQYYKbKi_ZCgbwJNhtEcmjwAoB7BodY8CNPm7moO5AAAVA"}'
  recorded_at: Mon, 01 Mar 2021 16:13:54 GMT
- request:
    method: get
    uri: https://api.petfinder.com/v2/animals?coat=wire
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJhdWQiOiJ0dG5JTTZ2ZVBicnBxSjhxQkdZMmNvOVpCU2pmcEF3Yjg0Tzc0NWZ4UmQwUG41ZmUzaCIsImp0aSI6Ijg2NWFkZTg4NjVhNWY2MzQ5MjQwOGZhZjJmMjdjMTcyNzg4ODlkODkwNjAwYWRlOTg2OTU0MjhlNzM4NjJhOGU3YjAzYzc2NzY5ZThmYzhiIiwiaWF0IjoxNjE0NjE1MjM4LCJuYmYiOjE2MTQ2MTUyMzgsImV4cCI6MTYxNDYxODgzOCwic3ViIjoiIiwic2NvcGVzIjpbXX0.m78EX2OrW0fXHhZcoLCz65_UILp3qicYRGsoszzl6widEwgDWjTDN3z1PlxNqwNwwcteHZa8SqHgkuSUsZvi1UCCAYtc8UtRbyBlauq0YUNZFeYSFRsipctvOLXYn6ZTx0L5-rGM6KYlcUmxH8-ftzxqnz6gBqnqCp-tor0tjrKzw9TzoZmrV-xo6sxxpGjadVBmoTiWYkRnehwSrz4pRGpXJYEYNVbqjG95FyWv03q9x2O59_lfJUP26XRuT0H3dz9t5dS1ezKqmD0rh3dEQ3Bkz2u6ujqA1q5OJgiVQQYYKbKi_ZCgbwJNhtEcmjwAoB7BodY8CNPm7moO5AAAVA
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - 854d6201-0d34-4c01-b6a7-af1a5d747715
      X-Amzn-Remapped-Content-Length:
      - '5801'
      X-Amzn-Remapped-Connection:
      - keep-alive
      X-Amz-Apigw-Id:
      - bg_fBFwxoAMFsoA=
      X-Amzn-Remapped-Date:
      - Mon, 01 Mar 2021 16:13:58 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"animals":[{"id":50696228,"organization_id":"RI133","url":"https:\/\/www.petfinder.com\/dog\/pancho-50696228\/ri\/east-greenwich\/midnight-run-rescue-ri133\/?referrer_id=7a08eea9-3a78-4961-9dee-b60fab4c2090","type":"Dog","species":"Dog","breeds":{"primary":"Scottish
        Terrier","secondary":null,"mixed":true,"unknown":false},"colors":{"primary":null,"secondary":null,"tertiary":null},"age":"Adult","gender":"Male","size":"Medium","coat":"Wire","attributes":{"spayed_neutered":true,"house_trained":true,"declawed":null,"special_needs":false,"shots_current":true},"environment":{"children":true,"dogs":true,"cats":true},"tags":[],"name":"Pancho","description":"Pancho
        is Up for Adoption!!\n\nHe is a 4 year old Mini Scottish Terrier. He is Approx
        37 lbs. \n\nSweet...","organization_animal_id":null,"photos":[{"small":"https:\/\/dl5zpyw5k3jeb.cloudfront.net\/photos\/pets\/50696228\/2\/?bust=1614608942\u0026width=100","medium":"https:\/\/dl5zpyw5k3jeb.cloudfront.net\/photos\/pets\/50696228\/2\/?bust=1614608942\u0026width=300","large":"https:\/\/dl5zpyw5k3jeb.cloudfront.net\/photos\/pets\/50696228\/2\/?bust=1614608942\u0026width=600","full":"https:\/\/dl5zpyw5k3jeb.cloudfront.net\/photos\/pets\/50696228\/2\/?bust=1614608942"},{"small":"https:\/\/dl5zpyw5k3jeb.cloudfront.net\/photos\/pets\/50696228\/1\/?bust=1614608933\u0026width=100","medium":"https:\/\/dl5zpyw5k3jeb.cloudfront.net\/photos\/pets\/50696228\/1\/?bust=1614608933\u0026width=300","large":"https:\/\/dl5zpyw5k3jeb.cloudfront.net\/photos\/pets\/50696228\/1\/?bust=1614608933\u0026width=600","full":"https:\/\/dl5zpyw5k3jeb.cloudfront.net\/photos\/pets\/50696228\/1\/?bust=1614608933"},{"small":"https:\/\/dl5zpyw5k3jeb.cloudfront.net\/photos\/pets\/50696228\/3\/?bust=1614608942\u0026width=100","medium":"https:\/\/dl5zpyw5k3jeb.cloudfront.net\/photos\/pets\/50696228\/3\/?bust=1614608942\u0026width=300","large":"https:\/\/dl5zpyw5k3jeb.cloudfront.net\/photos\/pets\/50696228\/3\/?bust=1614608942\u0026width=600","full":"https:\/\/dl5zpyw5k3jeb.cloudfront.net\/photos\/pets\/50696228\/3\/?bust=1614608942"}],"primary_photo_cropped":{"small":"https:\/\/dl5zpyw5k3jeb.cloudfront.net\/photos\/pets\/50696228\/2\/?bust=1614608942\u0026width=300","medium":"https:\/\/dl5zpyw5k3jeb.cloudfront.net\/photos\/pets\/50696228\/2\/?bust=1614608942\u0026width=450","large":"https:\/\/dl5zpyw5k3jeb.cloudfront.net\/photos\/pets\/50696228\/2\/?bust=1614608942\u0026width=600","full":"https:\/\/dl5zpyw5k3jeb.cloudfront.net\/photos\/pets\/50696228\/2\/?bust=1614608942"},"videos":[],"status":"adoptable","status_changed_at":"2021-03-01T14:38:59+0000","published_at":"2021-03-01T14:38:59+0000","distance":null,"contact":{"email":"midnightrunrescue@gmail.com","phone":null,"address":{"address1":null,"address2":null,"city":"East
        Greenwich","state":"RI","postcode":"02818","country":"US"}},"_links":{"self":{"href":"\/v2\/animals\/50696228"},"type":{"href":"\/v2\/types\/dog"},"organization":{"href":"\/v2\/organizations\/ri133"}}},{"id":50694854,"organization_id":"NH168","url":"https:\/\/www.petfinder.com\/dog\/scamp-in-nh-50694854\/nh\/manchester\/motley-mutts-rescue-nh168\/?referrer_id=7a08eea9-3a78-4961-9dee-b60fab4c2090","type":"Dog","species":"Dog","breeds":{"primary":"Jack
        Russell Terrier","secondary":"Corgi","mixed":true,"unknown":false},"colors":{"primary":"White
        \/ Cream","secondary":"Yellow \/ Tan \/ Blond \/ Fawn","tertiary":null},"age":"Adult","gender":"M[...]
